.navbar.wallet-index-navbar {
  background-color: #555;
}
.wallet-index-navbar-inner {
  .title {
    color: #fff !important;
  }
  a.link {
    color: #fff;
    i {
      color: inherit
    }
  }
  .right a.link.icon-only {
    min-width: 44px;
  }
}
.wallet-tabs-links {
  background: #555;
  display: flex;
  height: 132px;
  color: #fff;
  text-align: center;
  .wallet-tab-link-wrap {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  a.tab-link {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    color: #fff;
    &.active {
      font-weight: 500;
    }
  }

  .wallet-tab-link-label {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 0 !important;
  }
  i.wallet-tab-link-icon {
    width: 55px;
    height: 50px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  i.wallet-tab-link-icon-wallet {
    background-image: url(../assets/icon-wallet-outline.svg);
  }
  a.tab-link-active i.wallet-tab-link-icon-wallet {
    background-image: url(../assets/icon-wallet-fill.svg);
  }
  i.wallet-tab-link-icon-balance {
    background-image: url(../assets/icon-balance-outline.svg);
  }
  a.tab-link-active i.wallet-tab-link-icon-balance {
    background-image: url(../assets/icon-balance-fill.svg);
  }
  i.wallet-tab-link-icon-transactions {
    background-image: url(../assets/icon-transactions-outline.svg);
  }
  a.tab-link-active i.wallet-tab-link-icon-transactions {
    background-image: url(../assets/icon-transactions-fill.svg);
  }
  .wallet-balance-value {
    font-size: 14px;
  }
}
.wallet-tabs {
  .block-title {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    text-transform: none;
  }
}
// Settings List
.list.wallet-settings-list {
  margin: 0;
}
// Transactions List + Accounts List
.ios .list.wallet-list {
  color: #333;
  margin: 0;
  .item-media {
    align-self: flex-start;
    img {
      width: 58px;
      height: 58px;
      border-radius: 4px;
      border: none;
      outline: 0;
    }
    .wallet-icon-placeholder {
      width: 58px;
      height: 58px;
      border-radius: 4px;
      background: #eee;
      display: block;
    }
  }
  .item-title, .item-subtitle {
    font-size: 18px;
    color: inherit;
  }
  .item-text {
    font-size: 14px;
    color: #999;
  }
  .item-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .item-details {
    flex-shrink: 10;
    width: 100%;
    min-width: 0;
  }
  .item-after {
    flex-shrink: 0;
    align-self: center;
    color: #333;
    margin-right: 0;
    font-size: 22px;
  }
}

// Transaction Details Page
.wallet-transaction-header {
  background: #fff;
  padding: 20px 20px 10px;
  border-bottom: 1px solid #eee;
  .wallet-transaction-header-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .wallet-transaction-icon {
    flex-shrink: 0;
    margin-right: 20px;
    img {
      width: 58px;
      height: 58px;
      border-radius: 4px;
    }
    i.wallet-transaction-icon-placeholder {
      width: 58px;
      height: 58px;
      border-radius: 4px;
      background: #eee;
      display: block;
    }
  }
  .wallet-transaction-payment-info {
    flex-shrink: 10;
    min-width: 0;
    color: #333;
  }
  .wallet-transaction-payment-name {
    font-size: 18px;
    line-height: 1;
  }
  .wallet-transaction-payment-amount {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
  }
  .wallet-transaction-status {
    color: #999;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
}
.list.wallet-transaction-details-list {
  margin: 0;
  ul {
    background: #fff;
  }
  .item-title {
    font-size: 18px;
    color: #333;
  }
  .item-after {
    font-size: 16px;
    color: #999;
  }
}
.wallet-transactions-empty-message {
  text-align: center;
  font-size: 18px;
  color: #999;
  img + div {
    margin-top: 15px;
    padding: 0 20px;
  }
}
// Card details page
.page#wallet__card_details {
  .block-title {
    display: none;
  }
}

// Popup
.popup.wallet__transaction-popup {
  background: rgba(0,0,0,0.8);
  .transaction-preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    animation: wallet-preloader-in 0.5s forwards;
    z-index: 1000;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 200px;
      height: 200px;
      margin-top: -100px;
      margin-left: -100px;
      box-sizing: border-box;
    }
    &:before {
      border: 6px solid #fff;
      border-left-color: transparent;
      border-radius: 50%;
      animation: wallet-preloader-rotate 1.5s linear infinite;
    }
    &:after {
      background: url(../assets/preloader-wallet.svg) no-repeat center;
      background-size: 100px auto;
    }
  }
  .page, .navbar, .navbar-inner {
    background: none;
    color: #fff;
    a, a.link, i {
      color: #fff;
    }
  }
  .page-content {
    padding-bottom: 56px;
  }
  .navbar a.link.icon-only {
    min-width: 44px;;
  }
  .navbar .left {
    .preloader {
      display: none !important;
    }
  }
  .transaction-popup-logo {
    width: 93px;
    background: url(../assets/logo.png) no-repeat left center;
    background-size: 90% auto;
    display: block;
    height: 41px;
    margin-left: 12px;
  }
  .transaction-popup-confirm-button,
  .transaction-popup-report-button {
    z-index: 500;
    transition: 200ms;
    font-size: 20px;
    height: 44px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    position: absolute;
    &.active-state {
      background-color: rgba(255,255,255,0.1);
    }
  }
  .transaction-popup-confirm-button {
    left: 0;
    bottom: 0;
    border-top: 1px solid #fff;
    line-height: 43px;
    width: 100%;
  }
  .transaction-popup-report-button {
    left: 12px;
    right: 12px;
    bottom: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    line-height: 42px;
  }
  .transaction-popup-wallet-icon {
    display: block;
    width: 80px;
    height: 70px;
    margin: 30px auto;
    background: url(../assets/icon-wallet-outline.svg) no-repeat center;
    background-size: 100% auto;
  }
  .transaction-popup-list {
    font-size: 32px;
  }
  .transaction-popup-list-item {
    padding: 8px 15px;
    line-height: 1;
    &:nth-child(2n - 1) {
      font-weight: bold;
    }
  }
  .transaction-popup-list-item-link {
    position: relative;
    padding-right: 28px;
    transition-duration: 200ms;
    &.active-state {
      background-color: rgba(255,255,255,0.1);
    }
    &:after {
      content: 'right';
      font-family: 'Framework7 Icons';
      position: absolute;
      font-size: 18px;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      right: 8px;
      top: 50%;
      margin-top: -9px;
    }
  }
  .transaction-popup-status-icon {
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border: 6px solid #fff;
    position: relative;
    margin: 30px auto;
    border-radius: 50%;
    display: block;
    animation: wallet-status-icon-in 400ms forwards;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .transaction-popup-error-icon:after {
    background: url(../assets/icon-error.svg) no-repeat center;
  }
  .transaction-popup-success-icon:after {
    background: url(../assets/icon-success.svg) no-repeat center;
  }
  .transaction-popup-status-title {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
  .transaction-popup-status-message {
    text-align: center;
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.5;
  }
  .transaction-popup-status-title,
  .transaction-popup-status-message {
    animation: wallet-status-text-in 400ms forwards;
  }

  &.transaction-popup-status-rendered {
    .transaction-popup-status-icon,
    .transaction-popup-status-title,
    .transaction-popup-status-message {
      animation: none;
    }
  }

  .transaction-popup-fade-in {
    animation: wallet-fade-in 400ms forwards;
  }

  .wallet-transaction-header {
    background: none;
    border-bottom-color: rgba(255,255,255,0.1);
  }
  .wallet-transaction-header,
  .wallet-transaction-status,
  .wallet-transaction-payment-info {
    color: #fff;
  }
  .wallet-transaction-details-list {
    ul {
      background: none;
    }
    .item-title {
      color: #fff;
    }
    .item-after {
      color: rgba(255,255,255,0.8);
    }
  }

}
@keyframes wallet-preloader-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wallet-preloader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes wallet-status-icon-in {
  from {
    transform: scale(1.25) translateY(20vh);
  }
  to {
    transform: scale(1) translateY(0);
  }
}
@keyframes wallet-status-text-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes wallet-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}