<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="material-icons md-36">keyboard_arrow_left</i><span>{{t "label.cancel" ns="bookings" defaultValue="Cancel"}}</span></a></div>
    <div class="center sliding">{{t "booking_details.title" ns="bookings" defaultValue="Booking Details"}}</div>
  </div>
</div>
<div class="page" id="bookings__booking-details" data-page="bookings__booking-details">
  <div class="page-content" data-template="bookings__bookingDetailsTemplate">
  </div>
</div>
