<script id="bookings__bookingListGroupTemplate" type="text/template">
  {{#if_any this}}
  <div class="list-block media-list no-margin no-border-top">
    <div class="list-group">
      <ul>
        {{#each this}}
        <li class="list-group-title no-border-top">{{@key}}</li>
        {{#each this}}
        <li>
          <a href="{{addonAssetUrl "views/booking-details.html"}}&event_id={{id}}" class="item-link item-content">
            <div class="item-media text-icon">
              <span>{{formatDate start_at "D"}}</span>
              <small>{{formatDate start_at "MMM"}}</small>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">
                  {{formatDate start_at "h:mm a"}}
                  {{#if end_at}}
                    - {{formatDate end_at "h:mm a"}}
                  {{/if}}
                </div>
                <!-- <div class="item-after"></div> -->
              </div>
              <div class="item-text">
                {{title}}
                {{#if location}}
                  at {{location}}
                {{/if}}
              </div>
            </div>
          </a>
        </li>
        {{/each}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{else}}
  <div class="content-block no-data">
    <h2>{{t "no_bookings" ns="bookings" defaultValue="No bookings have been assigned"}}</h2>
    <p>{{t "no_bookings_hint" ns="bookings" defaultValue="Please check again later..."}}</p>
  </div>
  {{/if_any}}
</script>

<script type="text/template7" id="bookings__bookingDetailsTemplate">
  <div class="content-block-title">{{t "label.details" ns="bookings" defaultValue="Details"}}</div>
  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">{{t "label.title" ns="bookings" defaultValue="Title"}}</div>
            <div class="item-input">{{title}}</div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">{{t "label.location" ns="bookings" defaultValue="Location"}}</div>
            <div class="item-input">{{location}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="content-block-title">{{t "label.start" ns="bookings" defaultValue="Start"}}</div>
  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">{{t "label.date" ns="bookings" defaultValue="Date"}}</div>
            <div class="item-input">{{formatDate start_at "D MMM YY"}}</div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">{{t "label.time" ns="bookings" defaultValue="Time"}}</div>
            <div class="item-input">{{formatDate start_at "h:mm a"}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="content-block-title">{{t "label.end" ns="bookings" defaultValue="End"}}</div>
  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">{{t "label.date" ns="bookings" defaultValue="Date"}}</div>
            <div class="item-input">{{formatDate end_at "D MMM YY"}}</div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">{{t "label.time" ns="bookings" defaultValue="Time"}}</div>
            <div class="item-input">{{formatDate end_at "h:mm a"}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</script>
