<script id="tasks__addTaskTemplate" type="text/template">
    <form>
        <div class="list-block top-0">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-input item-input-full-width">
                            <input type="text" name="name" placeholder="{{t "task-add.name" defaultValue="Name"}}" class="toggle-save">
                        </div>
                    </div>
                </li>
                <!--
                <li>
                   <a href="#" class="item-link smart-select" data-open-in="picker">
                     <select name="parent_id">
                       {{#each this}}
                          <option value="{{id}}" selected>{{name}}</option>
                       {{/each}}
                     </select>
                     <div class="item-content">
                       <div class="item-inner">
                         <div class="item-title">{{t "task-add.list" defaultValue="List"}}</div>
                       </div>
                     </div>
                   </a>
                </li>
                -->
            </ul>
        </div>
    </form>
</script>
