.list.whs-form {
  margin: 0;
  ul {
    &:before,
    &:after {
      display: none;
    }
  }
  .item-divider {
    background: #E7E6E6;
    font-size: 18px;
    color: #333;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 12px 2px;
    span {
      display: flex;
      align-items: center;
    }
  }
  input[type=time],
  input[type=number],
  input[type=search],
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=date],
  input[type=datetime-local],
  select,
  textarea {
    font-size: 20px;
  }
  .item-title {
    font-size: 20px;
  }
  .whs-form-barcode-link {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    i {
      width: 40px;
      height: 40px;
    }
  }
}
.whs-form-images-picker {
  display: block !important;
  label {
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
    }
  }
  .link {
    color: #999;
  }
  .link + .link {
    margin-left: 10px;
  }
  .item-content {
    display: block;
  }
  .whs-form-images-previews {
    border-top: 1px solid #f1f1f1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    .whs-form-images-preview,
    .whs-form-images-add-button {
      flex-shrink: 0;
      width: 90px;
      height: 90px;
      margin: 5px;
      position: relative;
    }
    .whs-form-images-preview {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      a {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 20px;
        height: 20px;
        background: #999;
        color: #fff;
        border-radius: 50%;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 20px;
          width: 20px;
          height: 20px;
          line-height: 20px;
        }
      }
    }
    .whs-form-images-add-button {
      background: #666;
      color: #fff;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      i {
        font-size: 34px;
        width: 34px;
        height: 34px;
        line-height: 34px;
      }
      span {
        margin-top: 5px;
      }
    }
  }
}
