.whs-list-search-icon {
  width: 28px;
  height: 28px;
  background: url(../assets/search-icon.svg) no-repeat center;
  background-size: contain;
}
.whs-icon-barcode {
  width: 28px;
  height: 28px;
  background: url(../assets/icon-barcode.svg) no-repeat center;
}
.whs-icon-sort-black {
  width: 28px;
  height: 28px;
  background: url(../assets/icon-sort-black.svg) no-repeat center;
}
.whs-icon-sort-orange {
  width: 28px;
  height: 28px;
  background: url(../assets/icon-sort-black.svg) no-repeat center;
}
.whs-icon {
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.whs-icon-box-orange {
  background-image: url(../assets/icon-box-orange.svg);
}
.whs-icon-box-black {
  background-image: url(../assets/icon-box-black.svg);
}
.whs-icon-drawer-orange {
  background-image: url(../assets/icon-drawer-orange.svg);
}
.whs-icon-drawer-black {
  background-image: url(../assets/icon-drawer-black.svg);
}
.whs-icon-tag-orange {
  background-image: url(../assets/icon-tag-orange.svg);
}
.whs-icon-tag-black {
  background-image: url(../assets/icon-tag-black.svg);
}
.whs-icon-clock-orange {
  background-image: url(../assets/icon-clock-orange.svg);
}
.whs-icon-clock-black {
  background-image: url(../assets/icon-clock-black.svg);
}


.whs-form-icon {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-right: 5px;
}
.whs-form-icon-aa {
  background-image: url(../assets/form-icon-aa.svg);
}
.whs-form-icon-image {
  background-image: url(../assets/form-icon-image.svg);
}
.whs-form-icon-1 {
  background-image: url(../assets/form-icon-1.svg);
}
.whs-form-icon-barcode {
  background-image: url(../assets/form-icon-barcode.svg);
}
.whs-form-icon-check {
  background-image: url(../assets/form-icon-check.svg);
}
.whs-form-icon-dollar {
  background-image: url(../assets/form-icon-dollar.svg);
}
.whs-form-icon-hash {
  background-image: url(../assets/form-icon-hash.svg);
}
.whs-form-icon-location {
  background-image: url(../assets/form-icon-location.svg);
}
.whs-form-icon-text {
  background-image: url(../assets/form-icon-text.svg);
}
.whs-form-icon-toggle {
  background-image: url(../assets/form-icon-toggle.svg);
}

.whs-icon-empty {
  background: url(../assets/empty-icon.svg) no-repeat center;
  background-size: contain;
  width: 180px;
  height: 150px;
}
