.whs-list-search-icon {
  width: 28px;
  height: 28px;
  background: url(../assets/search-icon.svg) no-repeat center;
  background-size: contain;
}
.whs-icon-barcode {
  width: 28px;
  height: 28px;
  background: url(../assets/icon-barcode.svg) no-repeat center;
}
.whs-icon-sort-black {
  width: 28px;
  height: 28px;
  background: url(../assets/icon-sort-black.svg) no-repeat center;
}
.whs-icon-sort-orange {
  width: 28px;
  height: 28px;
  background: url(../assets/icon-sort-black.svg) no-repeat center;
}
.whs-icon {
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.whs-icon-mask,
.whs-icon-box-orange,
.whs-icon-box-black,
.whs-icon-drawer-orange,
.whs-icon-drawer-black,
.whs-icon-tag-orange,
.whs-icon-tag-black,
.whs-icon-clock-orange,
.whs-icon-clock-black
{
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.whs-icon-box-orange {
  background-color: #FF4500;
  -webkit-mask-image: url(../assets/icon-box-black.svg);
  mask-image: url(../assets/icon-box-black.svg);
}
.whs-icon-box-black {
  background-color: #333333;
  -webkit-mask-image: url(../assets/icon-box-black.svg);
  mask-image: url(../assets/icon-box-black.svg);
}
.whs-icon-drawer-orange {
  background-color: #FF4500;
  -webkit-mask-image: url(../assets/icon-drawer-black.svg);
  mask-image: url(../assets/icon-drawer-black.svg);
}
.whs-icon-drawer-black {
  background-color: #333333;
  -webkit-mask-image: url(../assets/icon-drawer-black.svg);
  mask-image: url(../assets/icon-drawer-black.svg);
}
.whs-icon-tag-orange {
  background-color: #FF4500;
  -webkit-mask-image: url(../assets/icon-tag-black.svg);
  mask-image: url(../assets/icon-tag-black.svg);
}
.whs-icon-tag-black {
  background-color: #333333;
  -webkit-mask-image: url(../assets/icon-tag-black.svg);
  mask-image: url(../assets/icon-tag-black.svg);
}
.whs-icon-clock-orange {
  background-color: #FF4500;
  -webkit-mask-image: url(../assets/icon-clock-black.svg);
  mask-image: url(../assets/icon-clock-black.svg);
}
.whs-icon-clock-black {
  background-color: #333333;
  -webkit-mask-image: url(../assets/icon-clock-black.svg);
  mask-image: url(../assets/icon-clock-black.svg);
}
.whs-icon-triangle{
  background-image: url(../assets/icon-triangle.svg);
}
.whs-icon-roles{
  background-image: url(../assets/icon-roles.svg);
}
.whs-icon-team{
  background-image: url(../assets/icon-team.svg);
}
.whs-icon-lock{
  background-image: url(../assets/icon-lock.svg);
}
.whs-main-icon {
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 0 10px;
}
.whs-summary-icon {
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 0 10px;
}
.whs-form-icon {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-right: 5px;
  .item-media & {
    margin-right: 0;
  }
}
.whs-form-icon-aa {
  background-image: url(../assets/form-icon-aa.svg);
}
.whs-form-icon-image {
  background-image: url(../assets/form-icon-image.svg);
}
.whs-form-icon-1 {
  background-image: url(../assets/form-icon-1.svg);
}
.whs-form-icon-barcode {
  background-image: url(../assets/form-icon-barcode.svg);
}
.whs-form-icon-check {
  background-image: url(../assets/form-icon-check.svg);
}
.whs-form-icon-dollar {
  background-image: url(../assets/form-icon-dollar.svg);
}
.whs-form-icon-hash {
  background-image: url(../assets/form-icon-hash.svg);
}
.whs-form-icon-location {
  background-image: url(../assets/form-icon-location.svg);
}
.whs-form-icon-text {
  background-image: url(../assets/form-icon-text.svg);
}
.whs-form-icon-toggle {
  background-image: url(../assets/form-icon-toggle.svg);
}
.whs-form-icon-photo {
  background-image: url(../assets/form-icon-photo.svg);
}
.whs-form-icon-calendar {
  background-image: url(../assets/form-icon-calendar.svg);
}
.whs-form-icon-percentage {
  background-image: url(../assets/form-icon-percentage.svg);
}
.whs-form-icon-text-multiline {
  background-image: url(../assets/form-icon-text-multiline.svg);
}
.whs-form-icon-int {
  background-image: url(../assets/form-icon-int.svg);
}
.whs-form-icon-link {
  background-image: url(../assets/form-icon-link.svg);
}
.whs-form-icon-dot {
  background-image: url(../assets/form-icon-dot.svg);
}
.whs-form-icon-person {
  background-image: url(../assets/form-icon-person.svg);
}
.whs-icon-empty {
  background: url(../assets/empty-icon.svg) no-repeat center;
  background-size: contain;
  width: 180px;
  height: 150px;
}
