.whs-menubar {
  display: flex;
  background: #fff;
  margin-top: 1px;
  color: #333333;
  a { 
    width: 25%;
    height: 100% !important;    
    flex-shrink: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #333333;
  } 
  i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    flex-shrink: 0;
  }
  i.f7-icons {
    font-size: 30px;
  }
  span {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    margin-top: 4px;
    margin-left: 0 !important;
    position: relative;
    padding-bottom: 10px;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
  &.whs-menubar-labels {
    overflow: auto;
    padding: 0 12px;
    &:after {
      content: '';
      width: 12px;
      flex-shrink: 0;
      height: 12px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      flex-shrink: 0;
      width: auto;
      + a {
        margin-left: 20px;
      }
    }
    span {
      padding: 10px 0;
      margin-top: 0;
    }


  }
  a.whs-menubar-active {
    color: $orange;
    .icon{
      background-color: $orange;
    }
    span:after {
      content: '';
      height: 2px;
      left: 0;
      background-color: $orange;
      right: 0;
      pointer-events: none;
      bottom: 0;
      position: absolute;
    }
  }
  a.whs-menubar-dynamic-active {
    color: $orange;
    .after-line {
      content: '';
      height: 2px;
      left: 0;
      background-color: $orange;
      right: 0;
      pointer-events: none;
      bottom: 0;
      position: absolute;
    }
  }
}
