.whs-table {
  width: 100%;
  overflow: auto;
  border-top: 1px solid #D8D8D8;
  margin-bottom: 26px;
  table {
    border-collapse: collapse;
    border: none;
    background: #fff;
    width: 100%;
  }
  th, td {
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    &:first-child {
      border-left: none;
    }
  }
  th {
    border-left: none;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    padding: 9px 10px;
    line-height: 1.2;
    white-space: nowrap;
  }
  td {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    padding: 9px 10px;
  }
  .media-cell,
  .sort-cell {
    width: 40px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
  }
  .media-cell-image{
    background-color: #eee !important;
    background-size: 100% auto !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  tbody tr:nth-child(2n) td {
    background: #fafafa;
  }

  .text-align-right {
    text-align: right;
  }
}
.whs-pagination {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.11);
  z-index: 500;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  height: 26px;
  a {
    color: inherit;
  }
  .whs-pagination-nav {
    display: flex;
    align-items: center;
    a {
      height: 100%;
      width: 26px;
      display: flex;
      align-items: center;
      i {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
    span {
      margin: 0 10px;
    }
  }
  .whs-pagination-actions {
    display: flex;
    height: 100%;
    a {
      height: 100%;
      display: flex;
      align-items: center;
      width: 26px;
      + a {
        margin-left: 10px;
      }
    }
    i {
      font-size: 20px;
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
  }
}
