$red: #ff4500;
$orange: #FF5413;
@mixin encoded-svg-background($svg) {
  background-image: url("data:image/svg+xml;charset=utf-8,#{$svg}");
}
@import "./scss/icons.scss";

.whs-navbar-links {
  .link + .link {
    margin-left: 0 !important;
  }
}

.list.whs-list {
  margin-top: 0;
  margin-bottom: 0;
  .item-content {
    padding-left: 0;
  }
  .item-media {
    padding: 0 !important;
    min-height: 90px;
    align-self: stretch;
  }
  .whs-item-image {
    width: 90px;
    height: 100%;
    background: #eee;
  }
  .item-title {
    font-size: 22px;
    font-weight: 500 !important;
  }
  .whs-item-row {
    font-size: 16px;
    color: #999;
  }
}
.popover.whs-popover {
  background: #fff;
  .popover-angle:after {
    background: #fff;
  }
}
.whs-details-navbar-inner {
  background: #fff;
  .title {
    position: absolute !important;
    left: 51px !important;
  }
}
.whs-details-page {
  .subnavbar {
    background: #fff;
    height: 60px;
    .subnavbar-inner {
      padding-left: 51px;
      font-size: 20px;
      line-height: 1.25;
      max-height: 50px;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      /* autoprefixer: ignore next */
      -webkit-line-clamp: 2;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      display: -webkit-box;
    }
  }
  &.page-with-subnavbar .page-content {
    padding-top: 44px + 60px !important;
  }
}

.whs-summary-cards {
  padding: 10px 24px;
  .whs-summary-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    + .whs-summary-card {
      margin-top: 10px;
    }
  }
  .whs-summary-card-right {
    text-align: right;
    &:first-child {
      margin-left: auto;
    }
  }
  .whs-summary-card-left .icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .whs-summary-card-value {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    + .whs-summary-card-label {
      margin-top: 4px;
    }
  }
  .whs-summary-card-title {
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
  }
  .whs-summary-card-label {
    font-size: 16px;
  }
}


@import "./scss/searchbar.scss";
@import "./scss/menubar.scss";
@import "./scss/table.scss";
@import "./scss/form.scss";
