$red: #ff4500;
$orange: #FF5413;
@mixin encoded-svg-background($svg) {
  background-image: url("data:image/svg+xml;charset=utf-8,#{$svg}");
}
@import "./scss/icons.scss";
@import "./scss/skeleton.scss";
@import "./utils/color-picker/color-picker.scss";

.whs-navbar-links {
  .link + .link {
    margin-left: 0 !important;
  }
}

.list.whs-list {
  margin-top: 0;
  margin-bottom: 0;
  .item-content {
    padding-left: 0;
  }
  .item-media {
    padding: 0 !important;
    min-height: 90px;
    align-self: stretch;
  }
  .whs-item-image {
    width: 90px;
    height: 100%;
    background: #eee;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .item-title {
    font-size: 22px;
    font-weight: 500 !important;
  }
  .whs-item-row {
    font-size: 16px;
    color: #999;
    span{
      text-transform: uppercase;
    }
  }
  .description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .main-list-container{
    width: 100%;
  }
}
.list.whs-select-list{
  .whs-item-image {
    width: 70px;
  }
  .item-media {
    min-height: 70px;
    align-self: stretch !important;
  }
  .item-inner{
    padding-right: 50px;
  }
  .icon-checkbox{
    position: absolute;
    right: 0;
  }
}
.popover.whs-popover {
  background: #fff;
  .popover-angle:after {
    background: #fff;
  }
}
.whs-details-navbar-inner {
  background-color: #fff;
  transition: background-color .3s ease-out;
  .title {
    position: absolute !important;
    left: 51px !important;
  }
  i.icon, i.material-icons{
    color: #333333;
  }
}
.whs-details-page {
  color: #333333;
  .subnavbar {
    background: #fff;
    height: 36px;
    a.link{
      line-height: 35px;
      height: 35px;
    }
    .subnavbar-inner{
      padding: 0;
      display: block;
    }
    .description {
      padding-left: 51px;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 1.25;
      height: 50px;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      /* autoprefixer: ignore next */
      -webkit-line-clamp: 2;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      display: -webkit-box;
    }
  }
  &.page-with-subnavbar{
    padding-bottom: 80px;
  }.page-content {
    margin-top: 80px;
    padding-top: 0 !important;
  }&.whs-details-page-description{
    padding-bottom: 140px;
      .subnavbar{
        height: 96px;
      }
      .page-content{
        margin-top: 140px;
      }
  }
}

.whs-summary-cards {
  padding: 10px 24px;
  .whs-summary-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    + .whs-summary-card {
      margin-top: 10px;
    }
  }
  .whs-summary-card-right {
    text-align: right;
    &:first-child {
      margin-left: auto;
    }
  }
  .whs-summary-card-left .icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .whs-summary-card-value {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    + .whs-summary-card-label {
      margin-top: 4px;
    }+ .uppercase{
      text-transform: uppercase;
    }
  }
  .whs-summary-card-title {
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
  }
  .whs-summary-card-label {
    font-size: 16px;
  }
}
.whs-list-search-item {
  .item-title {
    color: #999999;
  }
  .item-inner {
    margin-left: 5px !important;
  }
}
.whs-toolbar-button {
  background: $red;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  font-size: 24px;
  font-weight: 500;
  height: 70px;
  z-index: 500;
  transition-duration: 200ms;
  text-transform: uppercase;
  &.active-state {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  ~ .page-content {
    padding-bottom: 70px;
  }
}

.whs-empty-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 26px;
  text-align: center;
  margin: 50px auto;
  i {
    margin-bottom: 20px;
  }
}

.list.whs-settings-list {
  .item-divider {
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
  }
  input[type="text"] {
    text-align: right;
    font-size: 16px;
  }
  .item-after {
    font-size: 16px;
  }
  .item-title {
    font-size: 18px;
    white-space: normal;
  }
}
.list.whs-fields-list {
  .item-media {
    align-self: flex-start;
  }
  .sortable-handler {
    left: 0;
    right: auto;
    background-image: url(../assets/sortable-handler.svg);
    background-size: 22px auto;
    height: 27px;
    bottom: auto;
    top: 7px;
  }

  &.sortable-enabled {
    > ul > li .item-content {
      padding-left: 35px;
    }
    .item-link .item-inner {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'8px'%20height%3D'13px'%20viewBox%3D'0%200%208%2013'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20fill%3D'%23c7c7cc'%20transform%3D'translate(1.500000%2C%206.500000)%20rotate(-45.000000)%20translate(-1.500000%2C%20-6.500000)%20'%20points%3D'6%2011%206%202%204%202%204%209%20-3%209%20-3%2011%205%2011'%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E") !important;
      padding-right: 35px;
    }
  }
}

.popover.whs-color-picker-popover {
  width: 250px;
  &, .popover-angle:after {
    background-color: rgba(30, 30, 30, 0.95) !important;
  }
}
.list-color-picker-target {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
}

.whs-field-delete-button {
  position: absolute;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 500;
  a {
    color: $red;
    padding: 5px;
    &.active-state {
      opacity: 0.5;
    }
  }
}
.whs-main-activity{
  .filter{
    height: 50px;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: 1px;
  }
  .button{
    background-color: #FF4500 !important;
    float: right;
    margin-top: 7px;
    text-transform: uppercase;
  }
  .link{
    color: #333333;
  }
  .more{
    text-transform: uppercase;
    text-align: right;
  }
  .divider-title{
    text-transform: uppercase;
    &:before{
      display: none;
    }
  }
  .item-row ul{
    padding: 0 !important;;
  }
}
.whs-popover-activity{
  .item-title{
    text-transform: uppercase;
  }
}
.main-subnavbar.subnavbar{  
  background-color: #fff;
  height: 126px;
  .subnavbar-inner{
    display: block;
    padding: 0;
  }
}

.whs-main-page {
  padding-bottom: 167px;
  color: #333333;
  .page-content {
    margin-top: 167px !important;
    padding-top: 0px !important;
  }
}
.whs-type-options{
  li:first-of-type {
    display: none;
  }
}
.whs-picker-selected-list{
  padding: 0 !important;
  .item-media{
    width: 40px;
    height: 100%;
    background: #eee;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .item-content{
    padding: 0 !important;
  }
  .item-inner{
    padding: 0 !important;
  }
}
@import "./scss/searchbar.scss";
@import "./scss/menubar.scss";
@import "./scss/table.scss";
@import "./scss/form.scss";
