$red: #ff4500;
$orange: #FF5413;
@mixin encoded-svg-background($svg) {
  background-image: url("data:image/svg+xml;charset=utf-8,#{$svg}");
}
@import "./icons.scss";

.whs-navbar-links {
  .link + .link {
    margin-left: 0 !important;
  }
}

.searchbar.whs-searchbar {
  border: none;
  input[type=search] {
    font-size: 20px !important;
    padding-left: 34px !important;
  }
  .searchbar-icon {
    width: 18px;
    height: 18px;
    background-size: contain;
    margin-top: -9px;
  }
  .link.icon-only {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    color: #000;
  }
  .input-clear-button, .input-clear-button:after {
    transition: 0ms;
  }
  &.searchbar-enabled {
    background: $red;
    color: #fff;
    input[type=search] {
      color: #fff;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .link.icon-only {
      display: none;
    }
    .searchbar-icon {
      @include encoded-svg-background("%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2013'%20enable-background%3D'new%200%200%2013%2013'%3E%3Cg%3E%3Cpath%20fill%3D'%23fff'%20d%3D'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D'%23fff'%20stroke-miterlimit%3D'10'%20stroke-width%3D'1.5'%20x1%3D'12.6'%20y1%3D'12.6'%20x2%3D'8.2'%20y2%3D'8.2'%2F%3E%3C%2Fsvg%3E");
    }
    .input-clear-button {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
    .input-clear-button:after {
      @include encoded-svg-background("%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2028'%3E%3Ccircle%20cx%3D'14'%20cy%3D'14'%20r%3D'14'%20fill%3D'%23ffffff'%2F%3E%3Cline%20stroke%3D'%23ff4500'%20stroke-width%3D'3'%20stroke-miterlimit%3D'10'%20x1%3D'8'%20y1%3D'8'%20x2%3D'20'%20y2%3D'20'%2F%3E%3Cline%20fill%3D'none'%20stroke%3D'%23ff4500'%20stroke-width%3D'3'%20stroke-miterlimit%3D'10'%20x1%3D'20'%20y1%3D'8'%20x2%3D'8'%20y2%3D'20'%2F%3E%3C%2Fsvg%3E");
    }
  }
}
.whs-menubar {
  display: flex;
  background: #fff;
  margin-top: 1px;
  a {
    width: 25%;
    flex-shrink: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #000;
  }
  i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    flex-shrink: 0;
  }
  i.f7-icons {
    font-size: 30px;
  }
  span {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    margin-top: 4px;
    margin-left: 0 !important;
    position: relative;
    padding-bottom: 10px;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &.whs-menubar-labels {
    overflow: auto;
    padding: 0 12px;
    &:after {
      content: '';
      width: 12px;
      flex-shrink: 0;
      height: 12px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      flex-shrink: 0;
      width: auto;
      + a {
        margin-left: 20px;
      }
    }
    span {
      padding: 10px 0;
      margin-top: 0;
    }


  }
  a.whs-menubar-active {
    color: $orange;
    span:after {
      content: '';
      height: 2px;
      background: $orange;
      left: 0;
      right: 0;
      pointer-events: none;
      bottom: 0;
      position: absolute;
    }
  }
}

.list.whs-list {
  margin-top: 0;
  margin-bottom: 0;
  .item-content {
    padding-left: 0;
  }
  .item-media {
    padding: 0 !important;
    min-height: 90px;
    align-self: stretch;
  }
  .whs-item-image {
    width: 90px;
    height: 100%;
    background: #eee;
  }
  .item-title {
    font-size: 22px;
    font-weight: 500 !important;
  }
  .whs-item-row {
    font-size: 16px;
    color: #999;
  }
}
.popover.whs-popover {
  background: #fff;
  .popover-angle:after {
    background: #fff;
  }
}
.whs-details-navbar-inner {
  background: #fff;
  .title {
    position: absolute !important;
    left: 51px !important;
  }
}
.whs-details-page {
  .subnavbar {
    background: #fff;
    height: 60px;
    .subnavbar-inner {
      padding-left: 51px;
      font-size: 20px;
      line-height: 1.25;
      max-height: 50px;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      /* autoprefixer: ignore next */
      -webkit-line-clamp: 2;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      display: -webkit-box;
    }
  }
  &.page-with-subnavbar .page-content {
    padding-top: 44px + 60px !important;
  }
}

.whs-summary-cards {
  padding: 10px 24px;
  .whs-summary-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    + .whs-summary-card {
      margin-top: 10px;
    }
  }
  .whs-summary-card-right {
    text-align: right;
    &:first-child {
      margin-left: auto;
    }
  }
  .whs-summary-card-left .icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .whs-summary-card-value {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    + .whs-summary-card-label {
      margin-top: 4px;
    }
  }
  .whs-summary-card-title {
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
  }
  .whs-summary-card-label {
    font-size: 16px;
  }
}
