<script id="nurse_bookink__couponPickerTemplate" type="text/template">
  <div class="nurse_booking-coupon-picker">
    <div class="coupon-picker-img">
      <img src="{{addonAssetUrl "views/images/coupon-picker.svg"}}">
    </div>
    <div class="coupon-picker-text">{{t "coupon_picker.text"}}</div>
    <div class="coupon-picker-items">
      {{#each items}}
        <label>
          <input type="radio" name="nurse_booking-coupon-picker-radio" value="{{id}}">
          <div class="coupon-item-content">
            <div class="coupon-item-title">{{title}}</div>
            <div class="coupon-item-date">{{date}}</div>
          </div>
          <div class="coupon-item-label">{{t "coupon_picker.label"}}</div>
        </label>
      {{/each}}
    </div>
  </div>
</script>