<div class="navbar no-border">
    <div class="navbar-inner wallet-accounts-navbar-inner">
        <div class="left">
            <a href="#" class="back link icon-only"><i class="icon framework7-icons">bars</i></a>
        </div>
        <div class="center sliding">{{t "index.title" defaultValue="Wallet Accounts"}}</div>
        <div class="right">
            <a href="{{addonAssetUrl "views/board-settings.html"}}" class="link icon-only"><i class="icon f7-icons">gear</i></a>
            <a href="{{addonAssetUrl "views/transaction-add.html"}}" class="link icon-only"><i class="icon f7-icons">add</i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="wallet_accounts__index" id="wallet_accounts__page" class="page">
        <div class="page-content" data-template="wallet_accounts__listsTemplate"></div>
    </div>
</div>
