$red: #ff4500;
$orange: #FF5413;
$yellow: #FF7B00;
$blue: #00B4F1;

// Icons
// Forms Navbar
.navbar-inner.forms-blue-navbar-inner {
  background: $blue;
  color: #fff;
  .title {
    color: #fff;
  }
  a.link {
    color: #fff;
  }
  i {
    color: #fff;
  }
}

// Templates List
a.forms-swipeout-button-green {
  background: #2EC8A1;
}
a.forms-swipeout-button-blue {
  background: #2E83EA;
}
.forms-templates-list {
  .forms-templates-list-badge {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background: #E64545;
    border-radius: 2px;
    line-height: 1.2;
    padding: 4px 8px;
  }
  .item-text {
    font-size: 16px;
  }
  .item-title {
    font-size: 18px;
    white-space: normal;
    line-height: 1.25;
  }
  .swipeout-actions-right a {
    font-size: 20px;
    font-weight: 500;
  }
  .item-divider,
  .list-group-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #666;
    &:before {
      display: none;
    }
  }
}
// Forms FAB
.forms-fab-icon-template {
  background: url('../assets/icon-template-blue.svg');
  width: 34px;
  height: 32px;
}
.forms-fab-icon-pointer {
  background: url('../assets/icon-pointer-blue.svg');
  width: 33px;
  height: 33px;
}
.forms-fab-icon-people {
  background: url('../assets/icon-people-blue.svg');
  width: 37px;
  height: 32px;
}
.forms-fab-icon-plus {
  background: url('../assets/icon-plus-white.svg');
  width: 32px;
  height: 32px;
}
.forms-fab-icon-close {
  width: 24px;
  height: 24px;
  background: url('../assets/icon-close-white.svg');
}
.forms-fab-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: 140;
}
.ios .forms-fab {
  > a {
    background: $blue;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    &.active-state {
      background: darken($blue, 5%);
    }
  }
  &[class*="-bottom"] {
    bottom: 30px;
  }
  .fab-buttons-left {
    height: 60px;
    margin-top: -30px;
  }
  div.fab-buttons a {
    background: #fff;
    color: $blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: visible;
    &.active-state {
      background: #f4f4f4;
    }
    span {
      position: absolute;
      left: 50%;
      top: 100%;
      text-align: center;
      white-space: normal;
      transform: translateX(-50%);
      font-size: 14px;
      font-weight: 500;
      color: #fff;
    }
  }
}
// Forms toolbar
.forms-scrollable-tabbar {
  height: 50px;
  background: #fff;
  .forms-tabbar-inner {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    padding-left: 12px;
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }
    &:after {
      content: '';
      width: 12px;
      height: 100%;
      flex-shrink: 0;
    }
  }
  a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    padding: 0 5px;
    flex-shrink: 0;
    + a {
      margin-left: 15px;
    }
    &.tab-link-active {
      color: $orange;
      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: $orange;
        width: 100%;
        content: '';
      }
    }
  }
}

// Assigned Cards
a.forms-card {
  font-size: 18px;
  border-radius: 4px;
  background: #fff;
  margin: 12px;
  display: block;
  color: #333;
  &.active-state {
    background: rgba(0,0,0,0.05);
  }
  .forms-card-header {
    color: #999999;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    &:after {
      content: 'chevron_right';
      font-family: 'Framework7 Icons';
      margin-left: 10px;
      font-size: 14px;
    }
  }
  .forms-card-date {
  }
  .forms-card-status {
    margin-left: auto;
  }
  .forms-templates-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -12px;
    margin-right: -12px;
    ul {
      background: none;
    }
  }
  .forms-card-content {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;

    .forms-card-row {
      display: flex;
      justify-content: flex-start;
      line-height: 1.2;
      + .forms-card-row {
        margin-top: 10px;
      }
      i {
        width: 20px;
        height: 20px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        flex-shrink: 0;
        margin-right: 8px;
      }
      .forms-card-icon-template {
        background-image: url(../assets/icon-a-template.svg);
      }
      .forms-card-icon-user {
        background-image: url(../assets/icon-a-user.svg);
      }
      .forms-card-icon-tag {
        background-image: url(../assets/icon-a-tag.svg);
      }
      .forms-card-icon-eye {
        background-image: url(../assets/icon-a-eye.svg);
      }
      .forms-card-icon-user-round {
        background-image: url(../assets/icon-a-user-round.svg);
      }
    }
  }
}
.ios .forms-list {
  font-size: 18px;
  .inline-label .item-label {
    font-size: 18px;
  }
  .inline-label .item-input-wrap {
    width: 100%;
    input {
      text-align: right;
    }
  }
  .item-after {
    font-size: 16px;
    align-items: center;
  }
}
.ios .forms-inputs-list {
  input[type=time],
  input[type=number],
  input[type=search],
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=date],
  input[type=datetime-local],
  select,
  textarea {
    font-size: 16px;
  }
}

.forms-template-icon {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #f1f1f1;
  &.s60 {
    width: 60px;
    height: 60px;
  }
  &.s70 {
    width: 70px;
    height: 70px;
  }
  &.s80 {
    width: 80px;
    height: 80px;
  }
}