.time-clock-camera-popup{
    .navbar{
        height: 64px;
        background: linear-gradient(to bottom,rgba(27,27,27, .8) 0,rgba(132,131,132,0) 100%);
    }
    .geo-icon{
        width: 30px;
        height: 30px;
        background-image: inline-image('../assets/geo-icon.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
    .page-content{
        padding: 0 !important;
        background-color: #000;
        input{
            color: #fff;
        }
        .image-camera-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-size: auto auto;
            background-position: center;
            background-repeat: no-repeat;
            .empty-button{
                width: 50px;
                height: 50px;
            }
            .control-buttons-container{
                display: flex;
                z-index: 15;
                position: absolute;
                align-items: center;
                align-content: center;
                justify-content: space-between;
            }            
            &.portrait{
                .control-buttons-container{                    
                    bottom: 0;
                    left: 40px;
                    right: 40px;
                    height: 110px;                    
                    width: auto;
                    flex-direction: row;
                }
            }
            &.landscape{
                .control-buttons-container{
                    position: absolute;
                    right: 0;
                    top: 40px;
                    bottom: 40px;
                    height: auto;
                    width: 110px;
                    flex-direction: column;
                }
            }
            .button{
                border: none;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background-color: #ffffffd9;
                background-position: center center;
                background-repeat: no-repeat;
                &.shoot{
                    width: 80px;
                    height: 80px;
                    background-color: #333;
                    background-image: inline-image('../assets/photo-shoot.svg');
                }
                &.send{
                    width: 80px;
                    height: 80px;
                    background-image: inline-image('../assets/photo-send.svg');
                }
                &.go-back{
                    background-image: inline-image('../assets/photo-back.svg');
                }
                &.reshoot{
                    background-image: inline-image('../assets/photo-reshoot.svg');
                }
            }
        }
    }
}