.time-clock-select-list{
    margin: 0 !important;
    .item-title{
        font-size: 18px;
        color: #333333;
    }
    .time-clock-item-image {
        width: 28px;
        height: 28px;
        background: #eee no-repeat center;
        background-size: cover;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 28px;
      }
}