<div class="navbar no-border">
    <div class="navbar-inner accounts-navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back"><i class="icon f7-icons">left</i></a>
        </div>
        <div class="center sliding">{{t "list-management.title" defaultValue="List Management"}}</div>
        <div class="right">
            <a href="#" class="link icon-only save toggle">
                <i class="icon f7-icons">check</i>
            </a>
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="accounts__list-management" id="accounts__transactions" class="page with-toggle-save">
        <div class="page-content" data-template="accounts__listManagementTemplate">
        </div>
    </div>
</div>
