<div class="navbar no-border">
    <div class="navbar-inner accounts-navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back"><i class="icon f7-icons">left</i></a>
        </div>
        <div class="center sliding">{{t "transaction-add.title" defaultValue="Add Transaction"}}</div>
        <div class="right">
            <a href="#" class="link icon-only save toggle">
                <i class="icon f7-icons">check</i>
            </a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="accounts__transaction-add" id="accounts__page" class="page with-toggle-save">
        <div class="page-content">
            <div data-template="accounts__addTransactionTemplate"></div>
        </div>
    </div>
</div>
