<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="material-icons md-36">keyboard_arrow_left</i><span>Cancel</span></a></div>
    <div class="center sliding">Edit Item</div>
    <div class="right"><a href="#" class="save link" data-submit="#timesheets_item-form"><span>Save</span></a></div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="timesheets_edit-item" data-page="timesheets_edit-item">
    <div class="page-content" data-template="timesheets_itemFormTemplate">
    </div>
  </div>
</div>
