.timesheets_duration-icon {
  /*position: absolute;
  padding: 0 10px 0;
  border-right: 1px solid #ddd;
  min-height: 100%;*/
  height: 50px;
  width: 50px;
  text-align: center;
  background: #FF5615;
  border-radius: 50%;
  color: white;
  padding-top: 11px;
  line-height: 1.25;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timesheets_duration-icon span {
  display: block;
  /*font-size: 105%;*/
  font-weight: bold;
  /*margin: 2px 0 -3px;*/
  /*font-size: 150%;*/
  /*color: #333;*/
}

.timesheets_duration-icon small {
  display: block;
  /*text-transform: uppercase;*/
  font-size: 80%;
  /*color: #666;*/
}


/* Reminder Widget */
#timesheets_item-form .reminder .reminder-input-wrap {
  position: relative;
  /*display: none;*/
  opacity: 0;
  height: 0;
}
#timesheets_item-form .reminder.has-reminder .reminder-input-wrap {
  /*display: block;*/
  opacity: 1;
  height: auto;
}
#timesheets_item-form .reminder .reminder-input-wrap:after {
  display: none;
}
#timesheets_item-form .reminder .reminder-input-wrap .reminder-delete {
  position: absolute;
  right: 10px;
  top: 10px;
}
#timesheets_item-form .reminder.has-reminder .button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
