<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="center"></div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__order-error" id="nurse_booking__order-error" class="page no-navbar">
    <div class="page-content">
      <div class="order-status-title">{{t "order_error.title"}}</div>
      <div class="order-status-img">
        <img src="{{addonAssetUrl "views/images/order-success.svg"}}">
      </div>
      <div class="order-status-buttons">
        <a href="{{addonAssetUrl "views/order-details.html"}}">{{t "order_error.details_button"}}</a>
        <a href="{{addonAssetUrl "views/index.html"}}">{{t "order_error.home_button"}}</a>
      </div>
    </div>
  </div>
</div>
