<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="center"></div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__order-canceled" id="nurse_booking__order-canceled" class="page no-navbar">
    <div class="page-content">
      <div class="order-status-title">{{t "order_canceled.title"}}</div>
      <div class="order-status-img">
        <img src="{{addonAssetUrl "views/images/order-canceled.svg"}}">
      </div>
      <div class="order-status-message">{{t "order_canceled.message"}}</div>
      <div class="order-status-buttons">
        <a href="{{addonAssetUrl "views/index.html"}}">{{t "order_canceled.home_button"}}</a>
      </div>
    </div>
  </div>
</div>
