$orange: #FF4500;
@import '../../../../addons_common/vitals_element/addon';

.ios .vitals-pedometer-fab {
  > a {
    background: linear-gradient(to bottom, #62BE76, #7CE397);
    &.active-state {
      background-color: #62BE76;
    }
  }
}
.vitals-pedometer-icon-settings {
  background-image: url(../assets/icon-settings.svg);
}
.vitals-pedometer-icon-chart {
  background-image: url(../assets/icon-chart.svg);
}
.vitals-pedometer-index-header {
  background-image: url(../assets/header-bg.svg);
}
.vitals-pedometer-index-header-icon {
  background-image: url(../assets/header-icon.svg);
}
.vitals-pedometer-index-no-data-img {
  background-image: url(../assets/empty.svg);
}
.vitals-pedometer-settings-page {
  .vitals-pedometer-settings-header {
    background-image: url(../assets/header-bg.svg);
  }
  .vitals-pedometer-settings-icon {
    background-image: url(../assets/header-icon.svg);
  }
  .vitals-pedometer-settings-center-icon {
    background-image: url(../assets/settings-icon.svg);
  }
}