<div class="navbar no-border">
    <div class="navbar-inner wallet-accounts-navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back"><i class="icon f7-icons">left</i></a>
        </div>
        <div class="center sliding">{{t "list-edit.title" defaultValue="Edit List"}}</div>
        <div class="right">
            <a href="#" class="link icon-only save toggle">
                <i class="icon f7-icons">check</i>
            </a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="wallet_accounts__list-edit" id="wallet_accounts__page" class="page with-toggle-save">
        <div class="page-content" data-template="wallet_accounts__listEditTemplate">
        </div>
    </div>
</div>
