<div class="navbar no-border">
  <div class="navbar-inner wallet-index-navbar-inner">
    <div class="left">
      <a href="#" class="back link icon-only"><i class="icon framework7-icons">bars</i></a>
    </div>
    <div class="center sliding">{{t "index.title" defaultValue="Tommy Wallet"}}</div>
    <div class="right">
      <a href="{{addonAssetUrl "views/settings.html"}}" class="link icon-only"><i class="icon f7-icons">gear</i></a>
    </div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="wallet__index" id="wallet__index" class="page">
    <div class="page-content">
      <div class="wallet-tabs-links">
        <div class="wallet-tab-link-wrap">
          <a href="#wallet-tab-wallets" class="tab-link active">
            <i class="wallet-tab-link-icon wallet-tab-link-icon-wallet"></i>
            <span class="wallet-tab-link-label">{{t "index.tab_link_wallets" defaultValue="Wallets"}}</span>
          </a>
        </div>
        <div class="wallet-tab-link-wrap">
          <a href="#" class="tab-link">
            <i class="wallet-tab-link-icon wallet-tab-link-icon-balance"></i>
            <span class="wallet-tab-link-label">{{t "index.tab_link_balance" defaultValue="Balance"}}</span>
            <span class="wallet-balance-value"></span>
          </a>
        </div>
        <div class="wallet-tab-link-wrap">
          <a href="#wallet-tab-transactions" class="tab-link">
            <i class="wallet-tab-link-icon wallet-tab-link-icon-transactions"></i>
            <span class="wallet-tab-link-label">{{t "index.tab_link_transactions" defaultValue="Transactions"}}</span>
          </a>
        </div>
      </div>
      <div class="tabs wallet-tabs">
        <div class="tab active" id="wallet-tab-wallets" data-template="wallet__walletsListTemplate"></div>
        <div class="tab" id="wallet-tab-balance">
          <div class="content-block-title">{{t "index.tab_balance_title" defaultValue="History"}}</div>
        </div>
        <div class="tab" id="wallet-tab-transactions" data-template="wallet__transactionsListTemplate"></div>
      </div>
    </div>
  </div>
</div>
