<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Tommy Extension SDK Playground</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" href="css/extensions.css">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left layout-dark panel-reveal">
      <div class="content-block-title">Extensions</div>
      <div class="list-block">
        <ul class="extension-list">
          <!-- <li><a href="/" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Home</div>
                </div>
              </div></a></li> -->
          <!-- <li><a href="about.html" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">About</div>
                </div>
              </div></a></li>
          <li><a href="services.html" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Services</div>
                </div>
              </div></a></li>
          <li><a href="form.html" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Form</div>
                </div>
              </div></a></li> -->
        </ul>
      </div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="center sliding">Home</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="content-block-title">Loaded Extensions</div>
              <div class="list-block">
                <ul class="extension-list"></ul>
              </div>

              <div class="content-block-title">Getting Started</div>
              <div class="content-block">
                <div class="content-block-inner">
                  <p>
                    The Tommy Extension SDK playground exists on the far away dog star, Sirius B,
                    and provides a place for Tommy's furry developer friends
                    to learn and play with the extensions API in order to add custom functionality to Tommy,
                    and advance canine technology beyond the bounds of human imagination.
                  </p>
                  <p>
                    All the extensions in <code>/public/extensions</code> will be automatically loaded,
                    and you can build and test them in the Tommy environment which is
                    sumulated by this demo app.
                  </p>
                  <p>
                    We've built a couple of simple extension demos to get you started, just click on the
                    titles in the list above to view the rendered extension.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/my-app.js"></script>

    <script type="text/javascript" src="js/tommy-api.js"></script>
    <script type="text/javascript" src="js/tommy-env.js"></script>
    <script type="text/javascript" src="js/tommy-ext.js"></script>

    <script type="text/javascript">
      // Set the API_KEY constant
      T.API_KEY = '<%- apiKey %>';

      // Set the environment variables
      T.Env.f7App = myApp;
      T.Env.f7View = mainView;

      // Load the Extensions API
      var ext = new T.Extensions();
      ext.loadLocalExtension('hello');
      ext.loadLocalExtension('poke');
    </script>
  </body>
</html>
