/*.show-sandbox-installed { display: none !important; }
.sandbox-installed .show-sandbox-installed { display: block !important; }
.sandbox-installed .hide-sandbox-installed { display: none !important; }*/

.full-width { width: 100%; }

.bottom-15 { margin-bottom: 15px; }
.bottom-20 { margin-bottom: 20px; }
.top-15 { margin-top: 15px; }
.top-20 { margin-top: 20px; }

.navbar .current-avatar {
  max-height: 44px;
  max-width: 44px;
}

.smart-select-page .item-media img {
  max-height: 29px;
  max-width: 29px;
}
