<script id="wallet__transactionPopupStatus" type="text/template">
  <div class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <i class="transaction-popup-logo"></i>
        </div>
        <div class="right">
          <a href="#" class="link icon-only close-popup" data-popup=".wallet__transaction-popup">
            <i class="icon f7-icons">close</i>
          </a>
        </div>
      </div>
    </div>
    <a class="transaction-popup-report-button transaction-popup-fade-in">{{t "transaction_popup.report_button" defaultValue="View Report"}}</a>
    <div class="page-content">
      <i class="transaction-popup-status-icon transaction-popup-{{status}}-icon"></i>
      <div class="transaction-popup-status-title">{{title}}</div>
      <div class="transaction-popup-status-message">{{message}}</div>
    </div>
  </div>
</script>