.page#availability__main {
  .refresh-panel {
    background: none;
    border-bottom: none;
  }
  .list-block {
    .item-media {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    li {
      background: #fff;
      border-bottom: none;
      + li {
        margin-top: 1px;
      }
    }
  }

  .list-block .availability__list-date {
    padding-top: 11px;
    line-height: 1.25;
    /*width: 120px;*/
    text-align: left;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: initial;
  }

  .list-block .availability__list-date strong {
    display: block;
    font-weight: bold;
    font-size: 14px;
  }

  .list-block .availability__list-date span {
    display: block;
    font-size: 12px;
  }


  .availability__toggle-container {
    text-align: right;
    width: 100%;
  }


  .availability__toggle-container form {
    visibility: hidden;
    position: absolute;
  }


  .list-block a.availability__toggle-availability {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: 10px;
  }

  .list-block a.availability__toggle-availability span {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
  }

  .list-block a.availability__toggle-availability{
    &:after {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      border: 1px solid #333;
    }
    &.unavailable:after {
      border: none;
      background: #FF4500 url(../images/icon-no.svg) no-repeat center;
    }
    &.available:after {
      border: none;
      background: #2EC8A1 url(../images/icon-yes.svg) no-repeat center;
    }
    &.locked:after {
      border: none;
      background: #2EC8A1 url(../images/icon-lock.svg) no-repeat center;
    }
  }
}

