$color_custom: #ff4500;
$svg: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 12' fill='#{$color_custom}'><path d='M0,2V0h22v2H0z'/><path d='M0,7V5h22v2H0z'/><path d='M0,12v-2h22v2H0z'/></svg>";

@function url-friendly-colour($colour) {
  @return '%23'+str-slice('#{$colour}', 2, -1)
}

@mixin encoded-svg-background($svg) {
  background-image: url("data:image/svg+xml;charset=utf-8,#{$svg}");
}

.page.broadcast-page {

  .subtitle {
    margin: 0;
  }

  .list-title {
    margin: 15px;
  }

  .list {
    .list-item {
      .item {
        width: 100%;

        >p {
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: auto;
          line-height: 28px;

          &.item-message {}

          &.item.item {}
        }

      }
    }
  }

  .noListTxt {
    text-align: center;
  }

  .message-title {
    color: #a1a1a1;
    padding: 16px;
    font-size: 20px;
  }

  .message-textarea{
    width: calc(100% - 32px);
    background: #fff;
    padding: 16px;
    font-size: 20px;
    height: 300px;
  }

  .message-list {
    margin: 0;
    font-size: 22px;

    .message-list-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      p.icon{
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .message-list-tag {
      width: 100%;
      display: flex;
      flex-direction: row;
      border: 1px solid #ff4500;
      border-radius: 10px;

      >.tag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ff4500;
        color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 20px;
        width: 80px;

        .tag1{
          font-size: 36px;
          line-height: 36px;
          font-weight: 700;
        }
      }

      >.title {
        background: #fff7f4;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0px 16px;
        .name{
          flex: 1;
          line-height: 40px;
        }
      }
    }
  }

  .message-button {
    background: #ff4500;
    color: #fff;
    font-size: 24px;
    padding: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    font-weight: 700;
  }

  .message-filters {
    padding: 16px;
    background: #fff;
    font-size: 22px;

    .message-list-tag {
      width: 100%;
      display: flex;
      flex-direction: row;
      border: 1px solid #ff4500;
      border-radius: 10px;

      >.tag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ff4500;
        color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 20px;
        width: 80px;

        .tag1{
          font-size: 36px;
          line-height: 36px;
          font-weight: 700;
        }
      }

      >.title {
        background: #fff7f4;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0px 16px;
        .name{
          flex: 1;
        }
      }
    }
  }
}

.sheet-modal#task-participants-sheet {
  background: #fff;

  .list {
    margin: 0;
  }

  .toolbar {
    background: #fff;
  }
}

.popover#task-participants-popover .popover-inner {
  max-height: 300px;
}
