<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link icon-only"><i class="icon framework7-icons">chevron_left</i></a>
    </div>
    <div class="center sliding">{{t "date_time.title"}}</div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__date-time" id="nurse_booking__date-time" class="page">
    <div class="page-content">
      <div class="date-time-header">
        <label class="date-time-date">
          <input type="radio" name="date-time-date" checked>
          <div class="date-time-date-num">3.26</div>
          <div class="date-time-date-day">Today</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">3.27</div>
          <div class="date-time-date-day">Tue</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">3.28</div>
          <div class="date-time-date-day">Wed</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">3.29</div>
          <div class="date-time-date-day">Thu</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">3.30</div>
          <div class="date-time-date-day">Fri</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">3.31</div>
          <div class="date-time-date-day">Sat</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">4.01</div>
          <div class="date-time-date-day">Sun</div>
        </label>
        <label class="date-time-date">
          <input type="radio" name="date-time-date">
          <div class="date-time-date-num">4.02</div>
          <div class="date-time-date-day">Mon</div>
        </label>
      </div>
    </div>
  </div>
</div>
