<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="center"></div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__order-success" id="nurse_booking__order-success" class="page no-navbar">
    <div class="page-content">
      <div class="order-success-title">{{t "order_success.title"}}</div>
      <div class="order-success-img">
        <img src="{{addonAssetUrl "views/images/order-success.svg"}}">
      </div>
      <div class="order-success-buttons">
        <a class="open-order-details" href="{{addonAssetUrl "views/order-details.html"}}">{{t "order_success.details_button"}}</a>
        <a class="open-home-page" href="{{addonAssetUrl "views/index.html"}}">{{t "order_success.home_button"}}</a>
      </div>
    </div>
  </div>
</div>
