<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link icon-only"><i class="icon framework7-icons">chevron_left</i></a>
    </div>
    <div class="center sliding">{{t "package_list.nursing_title"}}</div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__package-list" id="nurse_booking__package-list" class="page">
    <div class="page-content">
      <div class="package-cards swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="{{addonAssetUrl "views/package-details.html"}}" class="package-card">
              <div class="package-card-pic" style="background-image:url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
              <div class="package-card-content">
                <div class="package-card-title">Housekeeping</div>
                <div class="package-card-duration">60min</div>
                <div class="package-card-price">¥ 200</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{{addonAssetUrl "views/package-details.html"}}" class="package-card">
              <div class="package-card-pic" style="background-image:url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
              <div class="package-card-content">
                <div class="package-card-title">Housekeeping</div>
                <div class="package-card-duration">60min</div>
                <div class="package-card-coupons">3 Coupons</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{{addonAssetUrl "views/package-details.html"}}" class="package-card">
              <div class="package-card-pic" style="background-image:url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
              <div class="package-card-content">
                <div class="package-card-title">Housekeeping</div>
                <div class="package-card-duration">60min</div>
                <div class="package-card-price">¥ 200</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{{addonAssetUrl "views/package-details.html"}}" class="package-card">
              <div class="package-card-pic" style="background-image:url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
              <div class="package-card-content">
                <div class="package-card-title">Housekeeping</div>
                <div class="package-card-duration">60min</div>
                <div class="package-card-coupons">3 Coupons</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
