<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link icon-only"><i class="icon framework7-icons">chevron_left</i></a>
    </div>
    <div class="center sliding">Housekeeping</div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__package-details" id="nurse_booking__package-details" class="page">
    <a class="nurse_booking__toolbar-button" href="{{addonAssetUrl "views/location.html"}}">{{t "package_details.book_button"}}</a>
    <div class="page-content">
      <div class="package-details-header">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
            <div class="swiper-slide" style="background-image: url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
            <div class="swiper-slide" style="background-image: url({{addonAssetUrl "views/images/demo-package.png"}})"></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="package-details-meta">
        <div class="package-details-meta-flex">
          <div class="package-details-meta-left">
            <div class="package-details-title">Housekeeping</div>
            <div class="package-details-duration">2 hours start</div>
          </div>
          <div class="package-details-price">¥ 200</div>
        </div>
        <a class="package-details-coupons"><span>3 coupons available</span></a>
      </div>
      <div class="package-details-content">
        <div class="package-details-label">{{t "package_details.service_details_label"}}:</div>
        <div class="package-details-text">
          <p>
            The housekeeping package includes:<br>
            1.  Clean the room within 50 square meters of hygiene: 30 minutes / set, 50-100 square meters: 60 minutes / sets, 100 square meters and 120 minutes / sets (wiping furniture, sweeping, mopping the floor);<br>
            2.  Sanitary ware cleaning and disinfection in one hour (including toilets, washbasins, showers)；<br>
            3.  The kitchen is cleaned in 2 hours (including cleaning range hoods and gas stoves)；<br>
            4.  Wipe the mat (synchronized with room hygiene)；<br>
            5.  Cleaning curtains；<br>
            6.  Cleaning glass, door and window；<br>
            7.  Cleaning underwear(only underwear, socks)；<br>
            8.  Receiving and distributing other clothing to be cleaned, the cost of cleaning the clothes needs to be paid by the old person (a laundry bag and a price list are provided)；<br>
            9.  Accompany to go out (not including fares), start at 1 hour, 30 RMB/hour, 50 RMB/2 hours；
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
