<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link icon-only"><i class="icon framework7-icons">chevron_left</i></a>
    </div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="nurse_booking__vip" id="nurse_booking__vip" class="page">
    <div class="page-content">
      <div class="vip-header">
        <div class="avatar" style="background-image: url({{addonAssetUrl "views/images/demo-avatar.png"}})">
          <div class="medal medal-green"></div>
        </div>
        <div class="name">Allen Zhang</div>
      </div>
      <div class="vip-info">{{t "vip.info"}}</div>
      <div class="vip-plans">
        <a href="{{addonAssetUrl "views/vip-details.html"}}" class="vip-plan vip-plan-green">
          <div class="vip-plan-badge">{{t "vip.current_plan_badge"}}</div>
          <div class="vip-plan-title">{{t "vip.plan_green"}}</div>
        </a>
        <a href="{{addonAssetUrl "views/vip-details.html"}}" class="vip-plan vip-plan-gold">
          <div class="vip-plan-badge">{{t "vip.recommended_plan_badge"}}</div>
          <div class="vip-plan-title">{{t "vip.plan_gold"}}</div>
        </a>
        <a href="{{addonAssetUrl "views/vip-details.html"}}" class="vip-plan vip-plan-platinum">
          <div class="vip-plan-title">{{t "vip.plan_platinum"}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
