<script id="nurse_booking__historyTemplate" type="text/template">
  <div class="page-content">
    {{#if orders}}
      <div class="orders-list">
      {{#each orders}}
        <a href="{{addonAssetUrl "views/order-details.html"}}?id={{id}}" class="order-item">
          <div class="order-item-header">
            <div class="order-item-date">{{formatDate data.date "D MMM YYYY"}}</div>
            <div class="order-item-status">{{t statusKey}}</div>
          </div>
          <div class="order-item-content">
            <div class="order-item-details">
              <div class="order-item-details-row">{{name}}</div>
              <div class="order-item-details-row order-item-details-date">{{formatDate data.date "MMM D, YYYY H:m"}}</div>
            </div>
            <div class="order-item-amount">¥{{total}}</div>
          </div>
        </a>
      {{/each}}
      </div>
    {{/else}}

    {{/if}}
  </div>
</script>