<script id="wallet_accounts__boardSettingTemplate" type="text/template">
    <div class="list-block">
        <ul>
            {{#unless hasActorId}}
            <li>
                <a href="{{addonAssetUrl "views/list-management.html"}}" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">{{t "board-settings.list-management" defaultValue="List Management"}}</div>
                    </div>
                </a>
            </li>
            {{/unless}}
            {{#if hasActorId}}
            <li>
                <a href="{{addonAssetUrl "views/wallet-balance.html"}}" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">{{t "board-settings.wallet-balance" defaultValue="Wallet Balance"}}</div>
                    </div>
                </a>
            </li>
            {{/if}}
        </ul>
        <div data-template="wallet_accounts__tagSelectTemplate"></div>
    </div>
</script>
