<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link icon-only"><i class="material-icons md-36">keyboard_arrow_left</i></a></div>
    <div class="center sliding">{{capitalize url_query.status}}</div>
    <div class="right">
      {{#if_compare url_query.status "!=" "submitted"}}
        <a class="link" href="{{addonAssetUrl "views/manager/approve-timesheets.html"}}&status={{url_query.status}}">Approve</a>
      {{/if_compare}}
    </div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="timesheets_moderate-timesheets"
    data-page="timesheets_moderate-timesheets">
    <div class="page-content">
      <div data-template="timesheets_timesheetListTemplate"></div>
    </div>
  </div>
</div>
