<script id="biometrics__assessmentListTemplate" type="text/template">
  {{#if_any this}}
  <div class="list-block">
    <ul>
      {{#each this}}
      <li>
        <a href="{{addonAssetUrl "views/assessment.html"}}&fragment_id={{id}}" class="item-link item-content">
          <div class="item-inner">
            <div class="item-title">
              {{biometrics__listTitle this}}
            </div>
            <div class="item-after">
              {{biometrics__listTime this}}
            </div>
          </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  {{else}}
  <div class="content-block no-data">
    <h2>{{t "no_biometrics" ns="biometrics" defaultValue="No biometric reports available"}}</h2>
    <p>{{t "no_biometrics_hint" ns="biometrics" defaultValue="Please check again later..."}}</p>
  </div>
  {{/if_any}}
</script>

<script type="text/template7" id="biometrics__assessmentResultTemplate">
  <table id="biometrics__assessment-result" width="100%">
    <tbody>
      <tr>
        <td width="50%" class="biometrics__chart">
          <div class="biometrics__c100 biometrics__p{{percent}}">
            <span>{{percent}}</span>
            <div class="biometrics__slice">
              <div class="biometrics__bar"></div>
              <div class="biometrics__fill"></div>
            </div>
          </div>
        </td>
        <td width="50%" class="biometrics__result">
          {{label}}&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type="text/template7" id="biometrics__patientProfileTemplate">
  <div id="biometrics__patient-profile" class="data-table">
    <table>
      <thead>
        <tr>
          <th class="label-cell">SEX</th>
          <th class="label-cell">AGE</th>
          <th class="label-cell">HEIGHT</th>
          <th class="label-cell">WEIGHT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="25%">
            {{sex}}
          </td>
          <td width="25%">
            {{age}}
          </td>
          <td width="25%">
            {{height}}
          </td>
          <td width="25%" class="last">
            {{weight}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script type="text/template7" id="biometrics__assessmentListTemplate">
  <div id="biometrics__assessment-list" class="list-block no-margin dividers">
    <ul>
      <!-- <li class="item-content heading">
          <div class="item-inner">
            <div class="item-title">Item</div>
            <div class="item-after">Result</div>
          </div>
      </li> -->
      {{#each this}}
      <li>
        <a href="#" data-name="{{name}}" class="item-link item-content">
          <div class="item-inner">
            <div class="item-title">{{category}}: {{name}}</div>
            <div class="item-after">{{result_display}}</div>
          </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</script>

<script type="text/template7" id="biometrics__assessmentTableTemplate">
  <div id="biometrics__assessment-table" class="data-table">
    <table>
      <thead>
        <tr>
          <th class="numeric-cell">#</th>
          <th class="label-cell">Name</th>
          <th class="label-cell">Result</th>
          <!-- <th class="numeric-cell">Score</th> -->
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr data-href="{{addonAssetUrl "views/assessment-item.html"}}&item_id={{@index}}">
          <td class="numeric-cell">{{biometrics__assessmentIndex @index}}</td>
          <td class="label-cell">{{category}}: {{name}}</td>
          <td class="label-cell">{{result_display}}</td>
          <!-- <td class="numeric-cell">{{value}}</td> -->
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>

<script type="text/template7" id="biometrics__assessmentItemTemplate">
  <div id="biometrics__assessment-table" class="data-table">
    <table>
      <thead>
        <tr>
          <th class="label-cell">Item</th>
          <th class="label-cell">Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr>
          <td class="label-cell">{{sentenceCase @key}}</td>
          <td class="label-cell">{{this}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>
