$red: #ff4500;
$orange: #FF5413;
@mixin encoded-svg-background($svg){
  background-image: url("data:image/svg+xml;charset=utf-8,#{$svg}");
}
[data-page="nurse_booking__index"] {
  .navbar {
    background-color: transparent;
    color: #333;
    a.link {
      color: inherit;
    }
    i {
      color: inherit;
    }
  }
}
[data-page="nurse_booking__vip"],
[data-page="nurse_booking__vip-details"] {
  .navbar {
    background-color: transparent;
    color: #fff;
    a.link {
      color: inherit;
    }
    i {
      color: inherit;
    }
  }
}

.page#nurse_booking__index,
.page#nurse_booking__vip,
.page#nurse_booking__vip-details {
  color: #333;
  background: #fff;
  .page-content {
    padding-top: 0;
  }
}
.page#nurse_booking__index {
  color: #333;
  line-height: 1.5;
  .swiper-container {
    height: 250px;
    .swiper-slide {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .swiper-pagination-bullet {
      background: rgba(255,255,255,1);
      border: 1px solid #999;
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  .sections {
    overflow: hidden;
    font-size: 0;
    margin: 35px 0;
  }
  .section {
    width: 33.333333%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.25;
    &:nth-child(n + 4) {
      margin-top: 20px;
    }
    a {
      color: inherit;
      span {
        display: block;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}
.page#nurse_booking__vip,
.page#nurse_booking__vip-details {
  .vip-header {
    height: 170px;
    background: #EB7C83 url(../images/vip-header.svg) no-repeat center;
    background-size: cover;
    color: #fff;
    box-sizing: border-box;
    padding-top: 44px;
    text-align: center;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 26px;
      background: url(../images/vip-header-mask.png) no-repeat center bottom;
      background-size: 100% 100%;
    }
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid #fff;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .name {
      margin-top: 5px;
      font-size: 24px;
      line-height: 1.1;
    }
    .medal {
      width: 30px;
      height: 30px;
      position: absolute;
      right: -6px;
      bottom: -6px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      &.medal-gold {
        background-image: url(../images/medal-gold.png);
      }
      &.medal-green {
        background-image: url(../images/medal-green.png);
      }
      &.medal-platinum {
        background-image: url(../images/medal-platinum.png);
      }
    }
  }
}
.page#nurse_booking__vip {
  .vip-info {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 10px;
  }
  .vip-plans {
    margin: 20px 0;
  }
  .vip-info, .vip-plans {
    margin-left: 15px;
    margin-right: 15px;
  }
  .vip-plan {
    display: block;
    height: 90px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    color: #fff;
    font-size: 36px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    position: relative;
    font-weight: 500;
    &:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 70px;
      right: 26px;
      top: -3px;
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
    }
    .vip-plan-badge {
      position: absolute;
      left: 0;
      top: -8px;
      background: #9013FE;
      border-radius: 8px 0 8px 8px;
      color: #fff;
      box-sizing: border-box;
      min-width: 140px;
      font-size: 20px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      padding: 0 10px;
    }
    &.vip-plan-green {
      background-color: #2EC8A1;
      &:after {
        background-image: url(../images/medal-green.png);
      }
    }
    &.vip-plan-gold {
      background-color: #E8B766;
      &:after {
        background-image: url(../images/medal-gold.png);
      }
    }
    &.vip-plan-platinum {
      background-color: #6DBEFF;
      &:after {
        background-image: url(../images/medal-platinum.png);
      }
    }
    + .vip-plan {
      margin-top: 28px;
    }
  }
}
.page#nurse_booking__vip-details {
  .vip-plan-details {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    line-height: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    .vip-plan-current {
      display: flex;
      align-items: center;
      align-content: center;
      padding-left: 45px;
      font-size: 24px;
      font-weight: 600;
      background-color: #FFF5F1;
      border-radius: 4px;
      position: relative;
      font-size: 24px;
      flex-shrink: 0;
      &:before {
        position: absolute;
        left: 0px;
        bottom: 0;
        width: 40px;
        height: 40px;
        background: url(../images/vip-crown.png) no-repeat left;
        background-size: 40px 40px;
        content: '';
      }
    }
    .vip-plan-expiration {
      font-size: 20px;
      margin-left: 5px;
      flex-shrink: 10;
      line-height: 1.25;
    }
  }
  .list-block.vip-details-list-block {
    margin: 0;
    .item-inner {
      padding-top: 12px;
      padding-bottom: 11px;
    }
    .item-divider {
      font-size: 24px;
      &:before {
        display: none;
      }
    }
    .item-title, .item-after {
      font-size: 24px;
    }
    .item-after {
      max-height: none;
    }
    .item-subtitle {
      font-size: 20px;
    }
    b {
      font-weight: 600;
      color: $orange;
    }
    .item-link .item-inner {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
    }
  }
}
.page#nurse_booking__package-list {
  .page-content {
    display: flex;
    align-items: center;
    @media (orientation: landscape) {
      display: block;
    }
  }
  .package-cards.swiper-container {
    padding-top: 10px;
    padding-bottom: 20px;
    .swiper-slide {
      width: 300px;
    }
  }
  .package-card {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.16);
    background: #fff;
    transition: 300ms;
    transform: scale(0.85);
  }
  .swiper-slide-active .package-card {
    transform: scale(1);
  }
  .package-card-pic {
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .package-card-content {
    padding: 15px 12px 15px;
    color: #333;
  }
  .package-card-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.25;
  }
  .package-card-duration {
    font-size: 20px;
    font-weight: 600;
    padding-left: 12px + 27px;
    background: url(../images/icon-time.svg) no-repeat left;
    background-size: 27px auto;
    margin: 10px 0;
  }
  .package-card-coupons,
  .package-card-price {
    color: $red;
    font-weight: bold;
    line-height: 40px;
    margin-top: 5px;
  }
  .package-card-coupons {
    font-size: 36px;
    padding-left: 19px + 37px;
    background: url(../images/icon-coupon.svg) no-repeat left;
    background-size: 37px auto;
  }
  .package-card-price {
    font-size: 40px;
    padding-left: 19px + 35px;
    background: url(../images/icon-money.svg) no-repeat left;
    background-size: 35px auto;
  }
}
.nurse_booking__toolbar-button {
  background: $orange;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 500;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: 200ms;
  text-align: center;
  cursor: pointer;
  &.active-state {
    color: rgba(255,255,255,0.5);
  }
}
.page#nurse_booking__package-details {
  .package-details-header .swiper-container {
    height: 66vw;
    max-height: 500px;
    background: #fff;
    .swiper-slide {
      background-size: cover;
      background-position: center top;
    }
    .swiper-pagination-bullet {
      background: #fff;
      border: 1px solid #979797;
      opacity: 0.8;
      box-sizing: border-box;
    }
    .swiper-pagination-bullet-active {
      background: $orange;
      border: none;
      opacity: 1;
    }
  }
  .package-details-meta {
    background: #fff;
    padding: 15px 12px 15px;
    color: #333;
    .package-details-meta-flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .package-details-meta-left {
      flex-shrink: 10;
      min-width: 0;
    }
    .package-details-title {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.25;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .package-details-duration {
      font-size: 22px;
      font-weight: 600;
      padding-left: 12px + 27px;
      background: url(../images/icon-time.svg) no-repeat left;
      background-size: 27px auto;
      margin: 10px 0 0;
    }
    .package-details-price {
      color: $red;
      font-weight: bold;
      line-height: 1;
      font-size: 40px;
      flex-shrink: 0;
      margin-left: 5px;
    }
    .package-details-coupons {
      font-weight: 600;
      display: block;
      color: inherit;
      box-sizing: border-box;
      width: 100%;
      font-size: 22px;
      line-height: 1;
      position: relative;
      margin-top: 12px;
      margin-bottom: -15px;
      span {
        border-top: 1px solid #E9EAEB;
        padding-left: 12px + 27px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 35px;
        display: block;
        background: url(../images/icon-coupon.svg) no-repeat left;
        background-size: 27px auto;
        position: relative;
        z-index: 1;
      }
      &:before {
        content: '';
        position: absolute;
        left: -12px;
        right: -12px;
        top: 0;
        bottom: 0;
        background: #eee;
        opacity: 0;
        transition: 200ms;
        z-index: 0;
      }
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 20px;
        top: 50%;
        margin-top: -10px;
        right: 5px;
        @include encoded-svg-background("<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='#c7c7cc'/></svg>");
        background-size: 10px 20px;
        background-repeat: no-repeat;
      }

      &.active-state:before {
        opacity: 1;
      }
    }
  }
  .package-details-content {
    background: #fff;
    color: #333;
    padding: 12px;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 8px;
    .package-details-label {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-left: 12px;
      margin-bottom: 12px;
      &:before {
        content: '';
        width: 6px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        background: $red;
      }
    }
    .package-details-text {
      ul, ol, p, h1, h2, h3, h4 {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .page-content {
    padding-bottom: 80px;
  }
}
.nurse_booking-coupon-picker-modal {
  width: 300px;
  margin-left: -150px;
  .modal-button-bold {
    background: rgba(255,255,255,.95);
    color: $red;
    font-weight: bold;
    &.active-state {
      background: rgba(230,230,230,.95);
    }
  }
}
.nurse_booking-coupon-picker {
  margin-bottom: -15px;
  .coupon-picker-text {
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0;
    line-height: 1.2;
  }
  .coupon-picker-items {
    max-height: 200px;
    overflow: auto;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 15px;
    input {
      display: none;
    }
    label {
      display: block;
      color: #fff;
      border-radius: 8px;
      border: 1px solid #333;
      background: linear-gradient(to right, #FF9340, #FE6550);
      position: relative;
      display: flex;
      &:before, &:after {
        content: '';
        background: #fff;
        width: 20px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        box-sizing: border-box;
        border: 1px solid #333;
        pointer-events: none;
        border-radius: 50%;
      }
      &:before {
        left: -12px;
      }
      &:after {
        right: -12px;
      }
      + label {
        margin-top: 6px;
      }
    }
  }
  .coupon-item-content {
    flex-shrink: 10;
    min-width: 0;
    padding: 8px 5px 8px 12px;
    width: 100%;
    box-sizing: border-box;
  }
  .coupon-item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
  }
  .coupon-item-date {
    font-size: 15px;
    font-weight: 600;
  }
  .coupon-item-label {
    flex-shrink: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
    background: #fff;
    width: 65px;
    text-align: center;
    border-radius: 0 8px 8px 0;
  }
  input:checked ~ .coupon-item-label {
    background-color: #FFE187;
    color: $red;
  }

}