$orange: #FF4500;
@import '../../../../addons_common/vitals_element/addon';

.ios .vitals-blood_pressure-fab {
  > a {
    background: linear-gradient(to right top, #F8B23E, #FF7B00);
    &.active-state {
      background-color: #FF7B00;
    }
  }
}
.vitals-blood_pressure-icon-settings {
  background-image: url(../assets/icon-settings.svg);
}
.vitals-blood_pressure-icon-chart {
  background-image: url(../assets/icon-chart.svg);
}
.vitals-blood_pressure-index-header {
  background-image: url(../assets/header-bg.svg);
}
.vitals-blood_pressure-index-header-icon {
  background-image: url(../assets/header-icon.svg);
}
.vitals-blood_pressure-index-no-data-img {
  background-image: url(../assets/empty.svg);
}
.vitals-blood_pressure-settings-page {
  .vitals-blood_pressure-settings-header {
    background-image: url(../assets/header-bg.svg);
  }
  .vitals-blood_pressure-settings-icon {
    background-image: url(../assets/header-icon.svg);
  }
  .vitals-blood_pressure-settings-center-icon {
    background-image: url(../assets/settings-icon.svg);
  }
}
