<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="material-icons md-36">keyboard_arrow_left</i><span>{{t "label.cancel" ns="calendar" defaultValue="Cancel"}}</span></a></div>
    <div class="center sliding">{{t "edit_event.title" ns="calendar" defaultValue="Edit"}}</div>
    <div class="right"><a href="#" class="save link"><span>{{t "label.save" ns="calendar" defaultValue="Save"}}</span></a></div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="calendar_edit-event" data-page="calendar_edit-event">
    <div class="page-content">
    </div>
  </div>
</div>
