<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Details</div>
    <div class="right"><a href="{{@global.addons.calendar.path}}views/edit-event.html?event_id={{url_query.event_id}}" class="link"><span>Edit</span></a></div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="calendar_event-details" data-page="calendar_event-details">
    <div class="page-content">
    </div>
  </div>
</div>
