<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">{{backButton "native"}}</div>
    <div class="center sliding">{{t "main.title" ns="calendar" defaultValue="Calendar"}}</div>
    <div class="right"><a class="link icon-only" href="{{addonAssetUrl "views/new-event.html"}}"><i class="material-icons">add</i></a></div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="calendar__main"
      data-page="calendar__main"
      data-addon="calendar"
      data-view="main"
      data-path="{{addonAssetUrl}}">
    <div class="page-content">
      <div class="content-block" style="margin-top: 0;">
        <div class="content-block-inner no-border" style="padding: 0; margin-right: -15px; width: auto;">
          <div id="calendar__container"></div>
        </div>
      </div>
      <div id="calendar__events"></div>
    </div>
  </div>
</div>
