<script type="text/template7" id="calendar_eventListTemplate">
  {{#if_any events}}
  <div class="content-block-title">{{calendar_listHeadingDate date}}</div>
  <div class="list-block media-list">
    <ul>
      {{#each events}}
      <li>
        <a href="{{addonAssetUrl "views/event-details.html"}}&event_id={{id}}" class="item-link item-content">
          <div class="item-media">
            {{#if endAt}}
              <img width="48" src="{{addonAssetUrl "assets/schedule-icon.png"}}" />
            {{else}}
              <img width="48" src="{{addonAssetUrl "assets/todo-icon.png"}}" />
            {{/if}}
          </div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">
                {{timeOfDay startAt}}
                {{#if endAt}}
                  - {{timeOfDay endAt}}
                {{/if}}
              </div>
              <!-- <div class="item-after"></div> -->
            </div>
            <!-- <div class="item-subtitle"></div> -->
            <div class="item-text">
              {{title}}
              {{#if location}}
                at {{location}}
              {{/if}}
            </div>
            <!-- {{#if notes}}
              <div class="item-text">{{notes}}</div>
            {{/if}} -->
          </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if_any}}
</script>

<script type="text/template7" id="calendar_eventFormTemplate">
  <form id="calendar_event-form">
    {{#if id}}
      <input type="hidden" name="id" value="{{id}}">
    {{/if}}
    <div class="list-block form-block inset">
      <ul>
        <li>
          <div class="item-content">
            <!-- <div class="item-media"><i class="icon icon-form-name"></i></div> -->
            <div class="item-inner">
              <div class="item-input">
                <input type="text" name="title" value="{{title}}" placeholder="Title">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block form-block inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" name="location" value="{{location}}" placeholder="Location">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block form-block inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" name="start_at" value="{{dateTime startAt}}" placeholder="Start time">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" name="end_at" value="{{dateTime endAt}}" placeholder="End time">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block form-block inset reminder">
      <ul>
        <li class="reminder-input-wrap">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <a class="reminder-delete" href="#"><i class="material-icons">close</i></a>
                <input type="hidden" name="reminder" value="{{reminder}}">
                <input type="text" name="reminder_display" value="{{calendar_humanizeMinutes reminder}} before" readonly>
              </div>
            </div>
          </div>
        </li>
        <li>
          <button class="button button-fill full-width reminder-add">Add Reminder</button>
          <!-- color-blue  -->
        </li>
      </ul>
    </div>
    <div class="list-block form-block inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <textarea name="notes" placeholder="Notes">{{notes}}</textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="list-block form-block inset topset">
      <button type="submit" class="button button-big button-fill color-blue full-width">SAVE</button>
    </div> -->
  </form>
</script>

<script type="text/template7" id="calendar_eventDetailsTemplate">
  <div class="list-block form-block media-list inset">
    <ul>
      <li class="item-content">
        <!-- <a href="#" class="item-link item-content"> -->
          <div class="item-media">
            {{#if endAt}}
              <img width="48" src="{{addonAssetUrl "assets/schedule-icon.png"}}" />
            {{else}}
              <img width="48" src="{{addonAssetUrl "assets/todo-icon.png"}}" />
            {{/if}}
          </div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">
                {{timeOfDay startAt}}
                {{#if endAt}}
                  - {{timeOfDay endAt}}
                {{/if}}
              </div>
            </div>
            <!-- <div class="item-subtitle"></div> -->
            <div class="item-text">
              {{title}}
              {{#if location}}
                at {{location}}
              {{/if}}
            </div>
            <!-- {{#if notes}}
              <div class="item-text">{{notes}}</div>
            {{/if}} -->
          </div>
        <!-- </a> -->
      </li>
    </ul>
  </div>
  <div class="list-block form-block inset">
    <ul>
      <!-- <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="text" name="title" placeholder="Title">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="text" name="location" placeholder="Location">
            </div>
          </div>
        </div>
      </li> -->
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              {{dateTime startAt}}
            </div>
          </div>
        </div>
      </li>
      {{#if endAt}}
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              {{dateTime endAt}}
            </div>
          </div>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
  {{#if reminder}}
  <div class="list-block form-block inset">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              {{calendar_humanizeMinutes reminder}} before
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {{/if}}
  {{#if notes}}
  <div class="list-block form-block inset">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              {{notes}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {{/if}}
</script>
