<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link icon-only"><i class="material-icons md-36">keyboard_arrow_left</i></a></div>
    <div class="center sliding">Calendar</div>
    <div class="right"><a class="link icon-only" href="{{addonAssetUrl "views/new-event.html"}}"><i class="material-icons">add</i></a></div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="calendar_main"
      data-page="calendar_main"
      data-addon="calendar"
      data-view="main"
      data-path="{{addonAssetUrl}}">
    <div class="page-content">
      <div class="content-block" style="margin-top: 0;">
        <div class="content-block-inner" style="padding: 0; margin-right: -15px; width: auto;">
          <div id="calendar_container"></div>
        </div>
      </div>
      <div id="calendar_events"></div>
    </div>
  </div>
</div>
