#calendar_container .has-events {
  background: #D8FFAC;
}
#calendar_container .full-width {
  width: 100%;
}

/* Reminder Widget */
#calendar_event-form .reminder .reminder-input-wrap {
  position: relative;
  /*display: none;*/
  opacity: 0;
  height: 0;
}
#calendar_event-form .reminder.has-reminder .reminder-input-wrap {
  /*display: block;*/
  opacity: 1;
  height: auto;
}
#calendar_event-form .reminder .reminder-input-wrap:after {
  display: none;
}
#calendar_event-form .reminder .reminder-input-wrap .reminder-delete {
  position: absolute;
  right: 10px;
  top: 10px;
}
#calendar_event-form .reminder.has-reminder .button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
