<div class="navbar no-border">
    <div class="navbar-inner layout-white">
        <div class="left">
            <a href="#" class="link icon-only back close-popup">
                <i class="icon f7-icons">left</i>
            </a>
        </div>
        <div class="center sliding"></div>
        <div class="right">
            <a href="#" class="link icon-only open-popover" data-popover=".task-menu-popover">
                <i class="icon f7-icons">add</i>
            </a>
            <a href="#" class="link icon-only save active" style="display: none">
                <i class="icon f7-icons">check</i>
            </a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="tasks__task" id="tasks__tasks" class="page toolbar-fixed" data-template="tasks__taskDetailsTemplate">
    </div>
</div>
