$orange: #FF4500;
$orange: #FF4500;
.ios .vitals-immunisations-fab {
  > a {
    background: #20D8D8;
    &.active-state {
      background-color: #1EC6C6;
    }
  }
}
.vitals-immunisations-icon-settings {
  background-image: url(../assets/immunisations/icon-settings.svg);
}
.vitals-immunisations-icon-chart {
  background-image: url(../assets/immunisations/icon-chart.svg);
}
.vitals-immunisations-index-header {
  background-image: url(../assets/immunisations/header-bg.svg);
}
.vitals-immunisations-index-header-icon {
  background-image: url(../assets/immunisations/header-icon.svg);
}
.vitals-immunisations-index-no-data-img {
  background-image: url(../assets/immunisations/empty.svg);
}
.vitals-immunisations-settings-page {
  .vitals-immunisations-settings-header {
    background-image: url(../assets/immunisations/header-bg.svg);
  }
  .vitals-immunisations-settings-icon {
    background-image: url(../assets/immunisations/header-icon.svg);
  }
  .vitals-immunisations-settings-center-icon {
    background-image: url(../assets/immunisations/settings-icon.svg);
  }
}
.vitals-immunisations-index-header-data {
  margin-top: 8px;
}
.immunisations-card {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin: 12px;
  background: #fff;
  &, .ios & {
    color: #333;
  }
  &.active-state {
    background: #f3f3f3;
  }
  > .f7-icons {
    font-size: 14px;
    height: 14px;
    color: #ccc;
  }
  .immunisations-card-icon {
    flex-shrink: 0;
    margin-right: 12px;
    width: 46px;
    height: 46px;
    background: url(../assets/immunisations/card-icon-waiting.svg) no-repeat center;
    background-size: contain;
    &.injected {
      background-image: url(../assets/immunisations/card-icon-injected.svg);
    }
    &.overdue {
      background-image: url(../assets/immunisations/card-icon-overdue.svg);
    }
  }
  .immunisations-card-content {
    flex-shrink: 10;
    min-width: 0;
    width: 100%;
  }
  .immunisations-card-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .immunisations-card-date {
    font-size: 16px;
    color: #666;
  }
}
.vitals-immunisations-manual-add-page,
.vitals-immunisations-details-page {
  .item-divider {
    font-size: 16px;
  }
  .item-divider:before {
    display: none;
  }
}
.vitals-immunisations-details-page {
  .list {
    .item-inner {
      font-size: 18px;
      color: #717171;
    }
    .item-title {
      color: #999;
      font-size: 20px;
    }
    .item-after {
      color: #333;
      font-size: 18px;
    }
  }
}
.immunisations-details-buttons {
  a {
    height: 60px;
    margin: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #FF4F00;
    &.active-state {
      background: rgba(0,0,0,0.05);
    }
  }
  a.immunisations-details-button-red {
    color: #fff;
    background: #FF4F00;
    &.active-state {
      background: darken(#FF4F00, 5%);
    }
  }
}
.immunisations-dialog-calendar {
  margin-left: -15px;
  margin-right: -15px;
  height: 300px;
  .calendar {
    height: 300px;
    .toolbar, .calendar-week-header {
      background: transparent;
    }
  }
}
.page.vitals-immunisations-history-page {
  background: #f5f5f5;
}