<div class="navbar no-border">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="open-panel link icon-only"><i class="icon material-icons">menu</i></a>
    </div>
    <div class="center sliding">{{t "index.title" defaultValue="Pension Agency"}}</div>
  </div>
</div>

<div class="pages navbar-through">
  <div data-page="pension_agency__index" id="pension_agency__index" class="page">
    <div class="page-content">

      <div class="list-block media-list">
        <ul>
          <li>
            <a href="tommy://addon?package=nurse_booking" class="external item-content item-link">
              <div class="item-media">
                <img src="{{addonAssetUrl "views/images/meh-icon.png"}}">
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Mountain Elders Home</div>
                </div>
                <div class="item-text"><i class="icon material-icons">location_on</i> Xihu District, Hangzhou, Zhejiang</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
