<div class="navbar no-border">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back">
                <i class="icon f7-icons">left</i>
            </a>
        </div>
        <div class="center sliding">Chart</div>
        <div class="right">
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="chart" class="page">
        <div class="page-content">
            <div class="content">
                <div class="switch">
                    <div class="switch-btn active" data-type="day">Day</div>
                    <div class="switch-btn" data-type="week">Week</div>
                    <div class="switch-btn" data-type="month">Month</div>
                </div>
                <div class="chart">
                    <div class="values">
                        <div>
                            <strong>0</strong>
                            <small>mmHg</small>
                        </div>
                        <div>
                            <strong>0</strong>
                            <small>mmHg</small>
                        </div>
                        <div>
                            <strong>0</strong>
                            <small>bpm</small>
                        </div>
                    </div>
                    <div class="canvas"><canvas width="300" height="300"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>