<div class="navbar no-border">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back">
                <i class="icon f7-icons">left</i>
            </a>
        </div>
        <div class="center sliding">Measurement</div>
        <div class="right">
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="measuring" class="page">
        <div class="page-content">
            <div class="container empty measuring">
                <div class="date">21 Jan. 2018 10:00</div>
                <div class="content content-block">
                    <img src="{{addonAssetUrl "assets/measuring%20graphic.png"}}" srcset="{{addonAssetUrl "assets/measuring%20graphic.png"}} 2x,{{addonAssetUrl "assets/measuring%20graphic.png"}} 3x" class="empty">
                    <div class="data">
                        <div class="column">
                            <div class="box dia">
                                <img src="{{addonAssetUrl "assets/DIA%20graphic.png"}}" srcset="{{addonAssetUrl "assets/DIA%20graphic.png"}} 2x,{{addonAssetUrl "assets/DIA%20graphic.png"}} 3x">
                                <strong>120</strong>
                                <small>DIA</small>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box bpm">
                                <img src="{{addonAssetUrl "assets/heart.png"}}" srcset="{{addonAssetUrl "assets/heart.png"}} 2x,{{addonAssetUrl "assets/heart.png"}} 3x">
                                <strong>80</strong>
                                <small>bpm</small>
                            </div>
                            <div class="box sys">
                                <img src="{{addonAssetUrl "assets/SYS%20graphic.png"}}" srcset="{{addonAssetUrl "assets/SYS%20graphic.png"}} 2x,{{addonAssetUrl "assets/SYS%20graphic.png"}} 3x">
                                <strong>88</strong>
                                <small>SYS</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity">
                    <span class="preloader"></span>
                    <br>measuring...
                </div>
                <div class="buttons">
                    <a href="#" class="restart">Restart</a>
                    <a href="#" class="save">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>