<!--<!DOCTYPE html>
<html id="blood">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Blood Pressure</title>
    <link rel="stylesheet" href="{{addonAssetUrl "https://cdnjs.cloudflare.com/ajax/libs/framework7/1.6.5/css/framework7.ios.min.css"}}">
    <link rel="stylesheet" href="{{addonAssetUrl "https://cdnjs.cloudflare.com/ajax/libs/framework7/1.6.5/css/framework7.ios.colors.min.css"}}">
    <link rel="stylesheet" href="{{addonAssetUrl "framework7-icons.css"}}">
    <link rel="stylesheet" href="{{addonAssetUrl "framework7.keypad.min.css"}}">
    <link rel="stylesheet" href="{{addonAssetUrl "tommy.css"}}">
    <link rel="stylesheet" href="{{addonAssetUrl "css.css?6"}}">
</head>
<body>
<div class="statusbar-overlay"></div>
<div class="views">
    <div class="view view-main" data-page="index">
    -->
        <div class="navbar no-border">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link icon-only"><i class="icon framework7-icons">bars</i></a>
                </div>
                <div class="center sliding">Blood Pressure</div>
                <div class="right">
                    <a href="{{addonAssetUrl "chart.html"}}" class="link icon-only"><i class="icon f7-icons">graph_round</i></a>
                    <a href="{{addonAssetUrl "measurement.html"}}" class="link icon-only"><i class="icon f7-icons">add</i></a>
                </div>
            </div>
        </div>
        <div class="pages navbar-through">
            <div data-page="index" class="page">
                <div class="page-content">
                    <div class="subheader">
                        <div class="content-block">
                            <div class="title">
                                <strong>120/88</strong>
                                <small>mmHg</small>
                            </div>
                            <div class="subtitle">
                                <strong>80</strong>
                                <small>bpm</small>
                            </div>
                            <div class="date">21 Jan. 2018 10:00</div>
                        </div>
                    </div>
                    <div class="list-block cards-list">
                        <ul>
                            <li class="card">
                                <div class="card-header">Yesterday</div>
                                <div class="card-content">
                                    <div class="card-content-inner">
                                        <div>
                                            <strong>120/106</strong>
                                            <small>mmHg</small>
                                        </div>
                                        <div>
                                            <strong>100</strong>
                                            <small>bpm</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <div class="card-header">22 Jan. 2018 10:00</div>
                                <div class="card-content">
                                    <div class="card-content-inner">
                                        <div>
                                            <strong>120/88</strong>
                                            <small>mmHg</small>
                                        </div>
                                        <div>
                                            <strong>80</strong>
                                            <small>bpm</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <div class="card-header">Yesterday</div>
                                <div class="card-content">
                                    <div class="card-content-inner">
                                        <div>
                                            <strong>120/88</strong>
                                            <small>mmHg</small>
                                        </div>
                                        <div>
                                            <strong>80</strong>
                                            <small>bpm</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.6.5/js/framework7.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script type="text/javascript" src="framework7.keypad.min.js"></script>
<script type="text/javascript" src="js.js?4"></script>
</body>
</html>
-->
