#blood body {
  font-family: "Helvetica Neue";
}
#blood .chip.chip-lg {
  display: flex;
  width: 100%;
  height: 46px;
  margin: 12px 0 0;
  padding: 0 12px 0 0;
  overflow: hidden;
  background: #FFF7F4;
  border: solid 1px #ff4500;
  border-radius: 8px;
  font-size: inherit;
}
#blood .chip.chip-lg:first-child {
  margin-top: 0;
}
#blood .chip.chip-lg .chip-media {
  flex-direction: column;
  width: 46px;
  height: 100%;
  font-weight: 300;
  line-height: normal;
  border-radius: 0;
  background: #ff4500;
}
#blood .chip.chip-lg .chip-media i.icon {
  font-size: 23px;
  height: 23px;
}
#blood .chip.chip-lg .chip-label {
  flex: 1;
  padding: 0 6px;
  color: #333;
  font-size: 20px;
}
#blood .list {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  color: #4a4a4a;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
#blood .list > .list-content {
  overflow: auto;
  z-index: 1;
  flex: 1;
}
#blood .list > .list-content .card {
  display: block;
  margin: 10px 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  color: inherit;
}
#blood .list > .list-content .card.done {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}
#blood .list > .list-content .card > .card-footer,
#blood .list > .list-content .card > .card-header {
  min-height: 0;
  padding: 2px 8px 8px;
}
#blood .list > .list-content .card-content-inner {
  padding: 8px;
  font-size: 18px;
  line-height: 22px;
}
#blood .list > .list-content .badge {
  border-radius: 2px;
  font-size: 12px;
}
#blood .list > .list-content .badge.bg-blue {
  background-color: #38ACDC;
}
#blood .list > .list-content .badge.bg-red {
  background-color: #E64545;
}
#blood .list > .list-content .icon {
  display: flex;
  font-size: 16px;
}
#blood .list > .list-content .color-gray {
  color: #999;
}
#blood .list > .list-header {
  display: flex;
  padding: 0 8px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
#blood .list > .list-header img {
  display: block;
}
#blood .list > .list-footer .card-add {
  display: flex;
  padding: 0 8px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #9B9B9B;
  font-size: 16px;
}
#blood .list > .list-footer .card-form {
  padding: 10px 5px;
}
#blood .list > .list-footer .card-form input {
  -webkit-appearance: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 18px;
  color: #3D4647;
  background: #FFFFFF;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
}
#blood .list > .list-footer .card-form .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#blood .list > .list-footer .card-form .buttons > .button {
  padding: 0 15px;
  margin: 15px 0 0 15px;
  border-radius: 2px;
}
#blood .list > .list-footer .card-form .buttons > .cancel {
  color: #9B9B9B;
  border-color: transparent;
  background: transparent;
}
#blood .list > .list-footer .card-form .buttons > .save {
  background-color: #FF4500;
}
#blood .list > .list-footer > div {
  display: none;
}
#blood .list > .list-footer > .in {
  display: block;
}
#blood .list > div {
  position: relative;
  z-index: 2;
}
#blood .list.hasScroll > .list-header {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
#blood .list.hasScroll > .list-footer {
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
}
#blood .list-block {
  font-size: 18px;
}
#blood .list-block ul::before,
#blood .list-block ul::after {
  display: none;
}
#blood .list-block .item-inner.column {
  flex-direction: column;
}
#blood .list-block .item-inner::after {
  background-color: #d9d9d9!important;
}
#blood .list-block .item-inner .item-title {
  color: #4a4a4a;
}
#blood .list-block .item-inner .item-media .search {
  margin: 0 15px 0 0;
  font-size: 22px;
}
#blood .list-block .item-inner .label-custom {
  flex: initial;
  width: 100%;
}
#blood .list-block .item-inner .label-custom + .item-input {
  width: auto;
  flex: initial;
}
#blood .list-block .item-inner .item-input {
  text-align: right;
}
#blood .list-block .item-inner .item-input input {
  color: #9b9b9b;
  font-size: 18px;
}
#blood .list-block .item-inner .item-input input.search {
  font-size: 20px;
}
#blood .list-block .item-inner .item-input input:focus {
  color: #333;
}
#blood .list-block .item-inner .item-input input::placeholder {
  color: #D4D4D4;
}
#blood .list-block .item-inner .item-input input.right {
  text-align: right;
}
#blood .list-block .item-inner .item-input input[type=checkbox]:checked + .item-media i.icon-form-checkbox,
#blood .list-block .item-inner .item-input input[type=checkbox]:checked + .checkbox {
  background: #ff4500 !important;
}
#blood .list-block .item-divider {
  padding: 10px 16px;
  font-size: 14px;
  color: #666666;
}
#blood .list-block .item-divider::before {
  display: none;
}
#blood .list-block.list-block-custom {
  margin-top: 0;
  margin-bottom: 0;
}
#blood .list-block.list-block-custom.inset ul li {
  margin: 12px 0 0;
  border-radius: 4px;
}
#blood .list-block.list-block-custom.inset ul li .item-inner::after {
  display: none;
}
#blood .list-block.list-block-custom ul {
  border-radius: 0;
  background: none;
}
#blood .list-block.list-block-custom ul li {
  margin: 0;
  background: #fff;
}
#blood .list-block.list-block-custom ul li.sorting {
  background: #FBFBFB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
#blood .list-block.list-block-custom ul li input {
  font-size: inherit;
}
#blood .list-block.list-block-custom ul li input:checked + .item-media .icon-form-checkbox {
  background-color: #5FA81A;
}
#blood .list-block.list-block-custom ul li input:checked:disabled + .item-media .icon-form-checkbox {
  background-color: #ccc;
}
#blood .list-block.list-block-custom .list-button {
  color: #999;
  background: none;
  border-radius: inherit;
}
#blood .list-block.list-block-custom .list-button::after {
  display: none;
}
#blood .list-block.list-block-custom .sortable-handler {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2018%2012'%20fill%3D'%23ff4500'%3E%3Cpath%20d%3D'M0%2C2V0h22v2H0z'%2F%3E%3Cpath%20d%3D'M0%2C7V5h22v2H0z'%2F%3E%3Cpath%20d%3D'M0%2C12v-2h22v2H0z'%2F%3E%3C%2Fsvg%3E");
}
#blood .media-list.media-list-custom {
  margin: 0;
  min-height: 100%;
  background: #fafafa;
}
#blood .media-list.media-list-custom ul::before,
#blood .media-list.media-list-custom ul::after {
  display: none;
}
#blood .media-list.media-list-custom ul .item-inner {
  align-self: center;
}
#blood .media-list.media-list-custom ul .item-inner::after {
  display: none;
}
#blood .media-list.media-list-custom ul .item-inner .item-subtitle {
  margin-top: 0;
  font-size: 14px;
  color: #9B9B9B;
}
#blood .media-list.media-list-custom ul .item-inner .item-title {
  font-size: 16px;
}
#blood .media-list.media-list-custom ul .item-inner .item-media {
  width: 46px;
  height: 46px;
  padding: 0;
  margin-top: 9px;
  margin-bottom: 10px;
  background: none;
  border: solid 0.5px transparent;
}
#blood .media-list.media-list-custom ul .item-inner .item-media.border {
  border-color: #D7D7D7;
}
#blood .media-list.media-list-custom ul .item-inner .item-media img {
  margin: auto;
  max-width: 100%;
  border-radius: 2px;
}
#blood .media-list.media-list-custom ul .item-inner .item-media img.circle {
  border-radius: 50%;
}
#blood .media-list.media-list-custom ul .item-divider {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  background: transparent;
}
#blood .media-list.media-list-custom ul .item-divider::before {
  display: block;
  top: 50%;
  background: #dddddd;
}
#blood .media-list.media-list-custom ul .item-divider small {
  position: relative;
  z-index: 16;
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  background: #fafafa;
}
#blood .media-list.media-list-custom ul .close {
  margin: 0 16px;
  color: #ff4500;
}
#blood .navbar {
  background: #fafafa;
}
#blood .navbar .center {
  font-size: 20px !important;
  color: #333333;
  letter-spacing: -0.48px;
  font-weight: 400 !important;
}
#blood .navbar i.icon {
  color: #333;
}
#blood .navbar a.save {
  visibility: hidden;
}
#blood .navbar a.save.active {
  visibility: initial;
}
#blood .navbar a.save i {
  font-size: 25px;
  color: #ff4500;
}
#blood .page {
  background: #f1f1f1;
}
#blood .page-content > .list-block {
  margin-top: 0;
  margin-bottom: 0;
}
#blood .picker-modal {
  background: #fff;
}
#blood .picker-modal .list-block {
  margin: 0;
}
#blood .picker-modal .toolbar {
  background: #fff;
}
#blood .picker-modal .toolbar::before {
  top: 100%;
  background: #d9d9d9 !important;
}
#blood .picker-modal .toolbar .toolbar-inner {
  padding: 0 12px;
}
#blood .popover {
  width: auto;
  background: #fff;
  box-shadow: 0px 1px 3px #bbb;
}
#blood .popover .popover-angle.on-top::after {
  background: #fff !important;
  box-shadow: 1px 1px 3px #bbb;
}
#blood .popover .popover-angle.on-bottom::after {
  background: #fff !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
#blood .popover .list-block .list-button {
  color: #333;
}
#blood [data-page="chart"] .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #333;
}
#blood [data-page="chart"] .content .switch {
  display: flex;
  min-height: 60px;
}
#blood [data-page="chart"] .content .switch div {
  flex: 1;
  padding: 15px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
#blood [data-page="chart"] .content .switch div.active {
  color: #ff4500;
  font-size: 22px;
  font-weight: 500;
}
#blood [data-page="chart"] .content .chart {
  flex: 1;
  background: #fff;
}
#blood [data-page="chart"] .content .chart .values {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
#blood [data-page="chart"] .content .chart .values div:nth-child(2) {
  margin: 0 15px;
}
#blood [data-page="chart"] .content .chart .values div strong {
  font-size: 32px;
  font-weight: 400;
}
#blood [data-page="chart"] .content .chart .values div small {
  font-size: 16px;
  color: #151515;
}
#blood [data-page="index"] .card {
  padding: 0 10px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  color: #666666;
}
#blood [data-page="index"] .card .card-header {
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}
#blood [data-page="index"] .card .card-content-inner {
  padding: 5px 0 10px;
  display: flex;
  justify-content: space-between;
}
#blood [data-page="index"] .card .card-content-inner strong {
  font-size: 38px;
  font-weight: 500;
  color: #ff7b00;
}
#blood [data-page="index"] .card .card-content-inner small {
  font-size: 18px;
}
#blood [data-page="index"] .empty {
  padding: 40px 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #999;
}
#blood [data-page="index"] .empty .content-block {
  margin: 0;
  color: inherit;
}
#blood [data-page="index"] .empty img {
  display: inline-block;
  width: 89px;
  height: 120px;
  margin: 0 0 40px;
}
#blood [data-page="index"] .navbar {
  background: transparent;
}
#blood [data-page="index"] .subheader {
  margin: -44px 0 0;
  padding: 44px 0 0;
  min-height: 231px;
  color: #333;
  background: url(assets/graphic.png) no-repeat center -20px;
  background-size: cover;
}
#blood [data-page="index"] .subheader strong {
  display: inline-block;
  margin: 0 5px 0 0;
}
#blood [data-page="index"] .subheader .content-block {
  margin: 10px 10px 10px;
  color: inherit;
}
#blood [data-page="index"] .subheader .title {
  margin: 0;
  color: inherit;
}
#blood [data-page="index"] .subheader .title strong {
  font-size: 50px;
  font-weight: 500;
}
#blood [data-page="index"] .subheader .title small {
  font-size: 18px;
  font-weight: 500;
}
#blood [data-page="index"] .subheader .subtitle {
  line-height: 1;
}
#blood [data-page="index"] .subheader .subtitle strong {
  font-size: 36px;
  font-weight: 400;
}
#blood [data-page="index"] .subheader .subtitle small {
  font-size: 14px;
}
#blood [data-page="index"] .subheader .date {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: 500;
}
#blood [data-page="measurement"] .container {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
}
#blood [data-page="measurement"] .list-block-custom:last-child {
  margin-bottom: 40px;
}
#blood [data-page="measurement"] .list-block-custom .apple .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23cccccc'%2F%3E%3C%2Fsvg%3E");
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: -webkit-calc(100% - 15px) center;
  background-position: calc(100% - 15px) center;
}
#blood [data-page="measurement"] .list-block-custom .apple .item-inner .item-title {
  color: #3d4647;
}
#blood [data-page="measurement"] .list-block-custom .item-divider {
  padding-bottom: 5px;
  background: transparent!important;
  color: #999;
  font-size: 16px;
  font-weight: 500;
}
#blood [data-page="measurement"] .list-block-custom .item-inner .item-title {
  font-size: 20px;
  color: #333;
}
#blood [data-page="measurement"] .list-block-custom .item-inner .item-title.searching {
  color: #999;
}
#blood [data-page="measurement"] .list-block-custom .item-media {
  width: 32px;
  justify-content: center;
}
#blood [data-page="measurement"] .list-block-custom .item-media img {
  width: 32px;
  height: 32px;
  min-height: 0;
}
#blood [data-page="measurement"] .list-block-custom .item-media img.search {
  width: 22px;
  height: 22px;
}
#blood [data-page="measurement"] .list-block-custom .color-custom.button-fill {
  background-color: #ff4500;
  color: #fff;
}
#blood [data-page="measurement-add"] .item-title.label {
  font-size: 20px;
}
#blood [data-page="measuring"] .container {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #fff;
}
#blood [data-page="measuring"] .container .date {
  margin: 30px 0 0;
  font-size: 20px;
  color: #666666;
}
#blood [data-page="measuring"] .container .content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60%;
  color: #333;
}
#blood [data-page="measuring"] .container .content .data {
  display: flex;
  width: 100%;
  height: 100%;
}
#blood [data-page="measuring"] .container .content .data .column {
  flex: 1;
  position: relative;
}
#blood [data-page="measuring"] .container .content .data .column .box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
#blood [data-page="measuring"] .container .content .data .column .box img {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#blood [data-page="measuring"] .container .content .data .column .box strong {
  font-weight: 400;
}
#blood [data-page="measuring"] .container .content .data .column .box small {
  font-size: 20px;
  font-weight: 500;
}
#blood [data-page="measuring"] .container .content .data .column .box.dia {
  width: 212px;
  height: 212px;
  left: 0;
}
#blood [data-page="measuring"] .container .content .data .column .box.dia strong {
  font-size: 80px;
}
#blood [data-page="measuring"] .container .content .data .column .box.sys {
  width: 156px;
  height: 156px;
  margin-top: 28px;
  right: 0;
}
#blood [data-page="measuring"] .container .content .data .column .box.sys strong {
  font-size: 64px;
}
#blood [data-page="measuring"] .container .content .data .column .box.bpm {
  display: block;
  width: 100%;
  margin-top: -90px;
}
#blood [data-page="measuring"] .container .content .data .column .box.bpm img {
  display: inline-block;
  position: static;
  width: 24px;
  height: 20px;
  margin: 0 10px 0 0;
}
#blood [data-page="measuring"] .container .content .data .column .box.bpm strong {
  font-size: 42px;
}
#blood [data-page="measuring"] .container .content .data .column .box.bpm small {
  font-weight: 400;
}
#blood [data-page="measuring"] .container .content .empty {
  display: none;
}
#blood [data-page="measuring"] .container .activity {
  opacity: 0;
  flex: 1;
  color: #ff4500;
  font-size: 18px;
}
#blood [data-page="measuring"] .container .buttons {
  display: flex;
  width: 100%;
  box-shadow: 0 0 1px 0 rgba(120, 120, 120, 0.5);
}
#blood [data-page="measuring"] .container .buttons a {
  position: relative;
  display: block;
  padding: 15px 0;
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: #3D4647;
}
#blood [data-page="measuring"] .container .buttons a:first-child::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  top: 25%;
  right: 0;
  background: #eaeaea!important;
}
#blood [data-page="measuring"] .container .buttons a.save {
  color: #ff4500;
}
#blood [data-page="measuring"] .container.empty .buttons,
#blood [data-page="measuring"] .container.empty .data {
  display: none;
}
#blood [data-page="measuring"] .container.empty .empty {
  display: block;
  width: 100px;
  height: 196px;
}
#blood [data-page="measuring"] .container.measuring .buttons {
  display: none;
}
#blood [data-page="measuring"] .container.measuring .activity {
  opacity: 1;
}
#blood [data-page="measuring"] .container.measuring .column .box strong {
  color: #999;
}
#blood .form-radio input[type="radio"]:checked ~ i,
#blood label.label-radio input[type="checkbox"]:checked ~ .item-inner,
#blood label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%235FA81A'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
}
#blood .color-custom,
#blood .list-block .list-button.color-custom {
  color: #ff4500;
}
#blood .bg-custom {
  background-color: #ff4500;
}
#blood .label-switch .checkbox:before {
  background-color: #fff !important;
}
#blood .overlay-hidden .modal-overlay {
  opacity: 0;
}
#blood .picker-keypad-button.picker-keypad-button-dark {
  background: rgba(227, 230, 237, 0.85);
}
#blood .navbar .left a + a,
#blood .navbar .right a + a {
  margin-left: 0;
}
#blood .modal.modal-calendar {
  width: 330px;
  margin-left: -165px;
  color: #333;
}
#blood .modal.modal-calendar .modal-inner {
  padding: 5px 15px 25px;
  background: #fff;
}
#blood .modal.modal-calendar .modal-button {
  background: #fff;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
#blood .modal.modal-calendar .modal-button:first-child::after {
  transform: none;
  background: #E7E7E7!important;
}
#blood .modal.modal-calendar .modal-button.modal-button-bold {
  color: #ff4500;
  background: #fff;
  font-weight: 400;
}
#blood .modal.modal-timepicker {
  width: 300px;
  margin-left: -150px;
  color: #333;
}
#blood .modal.modal-timepicker .modal-inner {
  padding: 10px 15px 10px;
  background: #fff;
}
#blood .modal.modal-timepicker .modal-inner::after {
  display: none;
}
#blood .modal.modal-timepicker .modal-inner .modal-title {
  font-size: 20px;
  color: #333;
  font-weight: 400;
}
#blood .modal.modal-timepicker .modal-inner .picker-items-col {
  width: 50px;
  text-align: center;
  font-size: 22px;
}
#blood .modal.modal-timepicker .modal-inner .picker-items-col.picker-items-col-divider {
  justify-content: center;
  color: #ff4500;
}
#blood .modal.modal-timepicker .modal-inner .picker-item {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #999;
}
#blood .modal.modal-timepicker .modal-inner .picker-item.picker-selected {
  font-size: 22px;
  color: #ff4500;
}
#blood .modal.modal-timepicker .modal-button {
  background: #fff;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
#blood .modal.modal-timepicker .modal-button:first-child::after {
  transform: none;
  background: #E7E7E7!important;
}
#blood .modal.modal-timepicker .modal-button.modal-button-bold {
  color: #ff4500;
  background: #fff;
  font-weight: 400;
}
#blood .modal.modal-preloader-in .modal-preloader {
  display: none;
}
#blood .modal .modal-preloader {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
}
#blood .modal .modal-preloader .preloader {
  width: 20px;
  height: 20px;
}
#blood .modal #calendar-container {
  width: 300px;
  height: 320px;
}
#blood .modal #calendar-container .picker-calendar .toolbar-inner {
  justify-content: center;
}
#blood .modal #calendar-container .picker-calendar .toolbar-inner .icon {
  color: #ccc;
  font-size: 16px;
}
#blood .modal #calendar-container .picker-calendar .toolbar-inner .center {
  font-size: 18px;
}
#blood .modal #calendar-container .picker-calendar .picker-calendar-row:after {
  display: none;
}
#blood .modal #calendar-container .picker-calendar .picker-calendar-week-days {
  margin: 5px 0 10px;
  font-size: 16px;
  color: #666666;
}
#blood .modal #calendar-container .picker-calendar .picker-calendar-day {
  font-size: 20px;
  color: #333;
}
#blood .modal #calendar-container .picker-calendar .picker-calendar-day span {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
#blood .modal #calendar-container .picker-calendar .picker-calendar-day.picker-calendar-day-selected span {
  background: #ff4500;
}
#blood .modal #calendar-container .picker-calendar .picker-calendar-day.picker-calendar-day-next,
#blood .modal #calendar-container .picker-calendar .picker-calendar-day.picker-calendar-day-prev {
  color: #999;
}
#blood .modal #timepicker-container {
  width: 270px;
  height: 150px;
}
#blood .modal #timepicker-container .picker-columns.picker-modal-inline {
  height: 150px;
}
#blood .modal #timepicker-container .picker-items {
  -webkit-mask-box-image: none;
}
#blood .modal #timepicker-container .picker-center-highlight {
  height: 150px;
  top: 0;
  margin: 0;
  transform: translate3d(0, 0, 0);
}
