<div class="navbar no-border">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back">
                <i class="icon f7-icons">left</i>
            </a>
        </div>
        <div class="center sliding">Measurement</div>
        <div class="right">
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="measurement" class="page">
        <div class="page-content">
            <div class="container">
                <div class="list-block list-block-custom media-list">
                    <ul>
                        <li class="item-divider">Data sources</li>
                        <li>
                            <a href="#" class="item-link item-content apple">
                                <div class="item-media">
                                    <img src="{{addonAssetUrl "assets/apple%20haelthy%20icon.png"}}" srcset="{{addonAssetUrl "assets/apple%20haelthy%20icon.png"}} 2x,{{addonAssetUrl "assets/apple%20haelthy%20icon.png"}} 3x">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Apple healthy</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="check" checked="checked">
                                <div class="item-media">
                                    <i class="icon icon-form-checkbox"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">37 smart sphygmomanometer</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="check" checked="checked" disabled>
                                <div class="item-media">
                                    <i class="icon icon-form-checkbox"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Smart blood glucose meter</div>
                                </div>
                            </label>
                        </li>
                        <li class="measurement-search">
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <img src="{{addonAssetUrl "assets/icon%20search.png"}}" srcset="{{addonAssetUrl "assets/icon%20search.png"}} 2x,{{addonAssetUrl "assets/icon%20search.png"}} 3x" class="search">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Find new device</div>
                                </div>
                            </a>
                        </li>
                        <li hidden>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <span class="preloader"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title searching">Finding new device...</div>
                                </div>
                            </a>
                        </li>
                        <li class="item-divider" hidden>New device</li>
                        <li hidden>
                            <a href="#" class="item-link item-content measurement-find">
                                <div class="item-media">
                                    <span class="preloader"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">37 smart sphygmomanometer</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="list-block list-block-custom inset">
                <ul>
                    <li>
                        <a href="{{addonAssetUrl "measurement-add.html"}}" class="item-link list-button color-custom">Enter manually</a>
                    </li>
                    <li>
                        <a href="{{addonAssetUrl "measuring.html"}}" class="item-link list-button button-fill color-custom">Start measuring</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>