.list.time-sheet-list {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .item-content {
      padding: 12px;
      height: 88px;
      &:after{
        content: '';
        position: absolute;
        background-color: #D8D8D8;
        display: block;
        z-index: 15;
        top: auto;
        right: 12px;
        bottom: 0;
        left: 12px;
        height: 1px;
        transform-origin: 50% 100%;
      }
      .item-inner {
        align-self: center;
      }
    }
    li:last-child .item-content:after{
      content: none;
    }
    .item-media {
      padding: 0 !important;
      min-height: 64px;
      align-self: stretch;
    }
    .item-title {
      font-size: 18px;
      font-weight: normal !important;
      color: #333333;
      display: block;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .description{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #666666;
      font-size: 16px;
      max-height: 40px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .item-inner{
        margin-left: 12px !important;
        padding: 0 !important;
        line-height: normal;
        &:after{
          content: none;
        }
    }
    .time{
        font-size: 18px;
        text-align: right;
        margin-left: 12px;
        white-space: nowrap;
        line-height: normal;
        height: 100%;
    }
    .no-attendances{
      display: flex;
      font-size: 16px;
      text-align: center;
      height: 300px;
      align-items: center;
      justify-content: center;
    }
  }
