.list.attendance-list {
  .item-media {
    align-self: center;
  }
  .item-after {
    color: $tommy-text-dark;
    flex-direction: column;
    align-content: flex-end;
    text-align: right;

    .item-after--after-end {
      font-size: 10px;
    }
  }

  .item-title {
    display: flex;
    width: 65%;
    >div {
      width: 100%;
    }
  }

  .item-title__container {
    display: flex;
  }
  .item-title__title {
    flex: 0 1 70%;
    transform: translateY(2px);
  }
  .item-title__images-container {
    flex: 1 0 40px;
  }
  .item-title__image-icon {
    padding-right: 4px;
    transform: translateY(2px);
    float: left;
  }
  .item-title__location-icon {
    padding-left: 4px;
    float: left;
  }
}


// Update timesheets list for custom formatted subtitle
.list {
  .item-subtitle {
    &__items-description {
      width: 90px;
      float:left;
    }
    &__work-hours-description {
      width: 90px;
      float:left;
    }
  }
}
