@import '~tommy-core/src/scss/variables';

// $color-primary: #2EC8A1;
// $color-secondary: #F5A623;

#subscriptions__index {
  // .col {
  //   &--icon {
  //     width: 90px !important;
  //   }
  //
  //   &--icon-description {
  //     width: calc(100% - 90px) !important;
  //   }
  //
  //   &--bg-icon {
  //     width: 120px !important;
  //   }
  //
  //   &--bg-icon-description {
  //     width: calc(100% - 120px) !important;
  //   }
  //
  //   &--credit-card-icon {
  //     width: 74px !important;
  //   }
  //
  //   &--credit-card-details {
  //     width: calc(100% - 74px) !important;
  //   }
  // }
  //
  // .row {
  //   &--valign-center {
  //     align-items: center;
  //   }
  //   &--mb {
  //     margin-bottom: 16px;
  //   }
  // }
  //
  // .label {
  //   &--mb {
  //     margin-bottom: 4px;
  //     display: block;
  //   }
  // }
  //
  // .input--outlined {
  //   width: 100%;
  //
  //   &.item-input-wrap {
  //     margin: {
  //       top: 0;
  //       bottom: 0;
  //     }
  //   }
  //
  //   input, select {
  //     border: 1px solid #CCCCCC;
  //     height: 40px;
  //     line-height: 50px;
  //     padding-left: 5px;
  //     padding-right: 5px;
  //     border-radius: 12px;
  //     width: 100%;
  //   }
  // }
  //
  // .tommy-button {
  //   color: white !important;
  //   padding: 12px 24px;
  //   border-radius: 10px;
  //   text-align: center;
  //   display: inline-block;
  //
  //   &--primary {
  //     color: white;
  //     background: $color-primary;
  //     border: 1px solid $color-primary;
  //   }
  //
  //   &--secondary {
  //     color: white;
  //     background: $color-secondary;
  //     border: 1px solid $color-secondary;
  //   }
  //
  //   &--full-width {
  //     display:block;
  //   }
  // }

  .subscription-total {
    font-size: 42px;
    line-height: 42px;
    margin-top: 24px;
  }

  #card-element {
    border: 1px solid #CCCCCC;
    line-height: 50px;
    padding: 10px 5px;
    border-radius: 12px;
    width: calc(100% - 10px);
  }

  #payment-form {
    label {
      padding-top: 16px;
      padding-bottom: 16px;
      display: block;
    }

    .actions {
      padding-top: 16px;
      display: block;
    }
  }

  #card-errors {
    color: red;
    padding-top: 8px;
    &:empty {
      padding-top: 0;
    }
  }

  .payment-history {
    .list {
      .item-content {
        padding-left: 0;
      }

      .item-header {
        color: $tommy-text-medium;
      }
    }
  }
}


#subscriptions__payments {
  .list {
    .item-header {
      color: $tommy-text-medium;
    }
  }
}
