<div class="navbar no-border">
    <div class="navbar-inner tasks-navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back"><i class="icon f7-icons">left</i></a>
        </div>
        <div class="center sliding">{{t "task-add.title" defaultValue="Add Task"}}</div>
        <div class="right">
            <a href="#" class="link icon-only save toggle">
                <i class="icon f7-icons">check</i>
            </a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="tasks__task-add" id="tasks__tasks" class="page with-toggle-save">
        <div class="page-content">
            <div data-template="tasks__addTaskTemplate"></div>
        </div>
    </div>
</div>
