<script id="wallet__settingsTemplate" type="text/template">
  <div class="list-block wallet-settings-list-block">
    <ul>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">{{t "settings.balance_label" defaultValue="Show Balance"}}</div>
          <div class="item-after">
            <label class="label-switch">
              <input type="checkbox" name="show_balance" {{#if show_balance}}checked{{/if}}>
              <div class="checkbox"></div>
            </label>
          </div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">{{t "settings.inform_label" defaultValue="Inform"}}</div>
          <div class="item-after">
            <label class="label-switch">
              <input type="checkbox" name="enable_notifications" {{#if enable_notifications}}checked{{/if}}>
              <div class="checkbox"></div>
            </label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</script>