.time-clock-take-photo {
  &__time {
    text-align: center;
    font-size: 36px;
    margin-bottom: 3px;
  }

  &__date {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
  }

  &__description {
    text-align: center;
    font-size: 16px;
    padding-top: 16px;
  }


  //&__mask {
  //  position: absolute;
  //  display: block;
  //  z-index: 9999999;
  //  top: 20px;
  //  left: 20px;
  //  width: 300px;
  //  height: 300px;
  //  background: red;
  //}
}

//html, body, .page, .framework7-root {
//  background: transparent !important;
//}


