<script id="tasks__listEditTemplate" type="text/template">
    <form>
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{t "list-edit.name" defaultValue="Name"}}</div>
                        <div class="item-input">
                            <input type="text" name="name" value="{{name}}" class="right toggle-save">
                        </div>
                    </div>
                </li>
                <!--
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title label-custom">Favourite</div>
                        <div class="item-input">
                            <label class="label-switch">
                                <input type="checkbox" checked>
                                <div class="checkbox"></div>
                            </label>
                        </div>
                    </div>
                </li>
                -->
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title label-custom">{{t "list-edit.show-fast-add-task" defaultValue="Show Fast Add Task"}}</div>
                        <div class="item-input">
                            <label class="label-switch">
                                <input name="show_fast_add" type="checkbox" class="toggle-save" {{#if data.show_fast_add}}checked{{/if}}>
                                <div class="checkbox"></div>
                            </label>
                        </div>
                    </div>
                </li>
                <!--
                <li class="item-divider">Filter Tasks</li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-media">
                            <i class="icon f7-icons color-custom search">search_strong</i>
                        </div>
                        <div class="item-input">
                            <input type="text" placeholder="Search Member, Tags" class="search">
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner column">
                        <div class="chip chip-lg">
                            <div class="chip-media">
                                <i class="icon f7-icons">person</i>
                                Role
                            </div>
                            <div class="chip-label">Repair Manager</div>
                            <a href="#" class="delete">
                                <i class="icon f7-icons color-custom">close</i>
                            </a>
                        </div>
                        <div class="chip chip-lg">
                            <div class="chip-media">
                                <i class="icon f7-icons">tags</i>
                                Tag
                            </div>
                            <div class="chip-label">Repair</div>
                            <a href="#" class="delete">
                                <i class="icon f7-icons color-custom">close</i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="item-divider">Who Can See List</li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-media">
                            <i class="icon f7-icons color-custom search">search_strong</i>
                        </div>
                        <div class="item-input">
                            <input type="text" placeholder="Search Member, Tags" class="search">
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner column">
                        <div class="chip chip-lg">
                            <div class="chip-media">
                                <i class="icon f7-icons">person</i>
                                Role
                            </div>
                            <div class="chip-label">Repair Manager</div>
                            <a href="#" class="delete">
                                <i class="icon f7-icons color-custom">close</i>
                            </a>
                        </div>
                        <div class="chip chip-lg">
                            <div class="chip-media">
                                <i class="icon f7-icons">tags</i>
                                Tag
                            </div>
                            <div class="chip-label">Repair</div>
                            <a href="#" class="delete">
                                <i class="icon f7-icons color-custom">close</i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="item-divider">Who Can Edit List</li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-media">
                            <i class="icon f7-icons color-custom search">search_strong</i>
                        </div>
                        <div class="item-input">
                            <input type="text" placeholder="Search Member, Tags" class="search">
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner column">
                        <div class="chip chip-lg">
                            <div class="chip-media">
                                <i class="icon f7-icons">person</i>
                                Role
                            </div>
                            <div class="chip-label">Repair Manager</div>
                            <a href="#" class="delete">
                                <i class="icon f7-icons color-custom">close</i>
                            </a>
                        </div>
                        <div class="chip chip-lg">
                            <div class="chip-media">
                                <i class="icon f7-icons">tags</i>
                                Tag
                            </div>
                            <div class="chip-label">Repair</div>
                            <a href="#" class="delete">
                                <i class="icon f7-icons color-custom">close</i>
                            </a>
                        </div>
                    </div>
                </li>
                -->
            </ul>
            <div data-template="tasks__permissionsTagSelectTemplate"></div>
        </div>
    </form>
    <div class="list-block list-block-custom">
        <ul>
            <li>
                <a href="#" class="item-link list-button color-custom delete-list">Delete List</a>
            </li>
        </ul>
    </div>
</script>

<script id="tasks__permissionsTagSelectTemplate" type="text/template">
  {{#each this}}
  <div class="tag-select" data-searchbar="true" data-permission-name="{{name}}" data-page-title="{{title}}">
    <ul>
      <li class="item-divider">{{title}}</li>
      <li>
        <select multiple></select>
        <a href="#" class="item-link tag-search">
          <div class="item-content">
            <div class="item-media"><i class="material-icons md-36">search</i></div>
            <div class="item-inner">
              <div class="item-title">{{t "common.search_members_tags" defaultValue="Search Members, Tags"}}</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <ul class="tag-items">
    </ul>
  </div>
  {{/each}}
</script>
