
.col {
  &--icon {
    width: 90px !important;
  }

  &--icon-description {
    width: calc(100% - 90px) !important;
  }

  &--bg-icon {
    width: 120px !important;
  }

  &--bg-icon-description {
    width: calc(100% - 120px) !important;
  }
}

.profile-image--with-file-input {

  //iphone
  input[type=file] {
    height: 74px;
    width: 74px;
    display: block;
    position: relative;
    opacity: 0;
    margin-top: -74px;
  }
}
