$mobile: 'max-width: 767px';

.bookings__wrapper {
  .page-content {
    overflow: hidden;
    padding-top: 0 !important;
  }
}

.navbar {
  display: inline-block;
  width: auto;
}

.booking-events__wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;

  > .media-list {
    flex-grow: 1;
    height: 100%;

    > ul {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.navbar {
   .icon-only {
    .material-icons {
      color: #333;
    }
  }
}

.calendar-toolbar {
  text-align: center;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 0 21px;
}

.calendar-toolbar__prev {
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #333333;
  border-width: 0 0 2px 2px;
  left: 0;
  cursor: pointer;
  transform: rotate(45deg);
  top: 12px;

  @media screen and ($mobile) {
    width: 8px;
    height: 8px;
  }
}

.calendar-toolbar__next {
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  right: 0;
  cursor: pointer;
  transform: rotate(-45deg);
  top: 12px;

  @media screen and ($mobile) {
    width: 8px;
    height: 8px;
  }
}

.calendar-toolbar__collapse {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid #333333;
    border-width: 0 2px 2px 0;
    left: 100%;
    margin-left: 17px;
    cursor: pointer;
    transform: rotate(-135deg);
    bottom: 0;

    @media screen and ($mobile) {
      width: 7px;
      height: 7px;
      bottom: 2px;
    }
  }

  &.-rotate {
    &:before {
      transform: rotate(45deg);
      bottom: 8px;

      @media screen and ($mobile) {
        bottom: 7px;
      }
    }
  }
}

.calendar-toolbar__date {
  font-size: 23px;
  line-height: 1em;
  color: #333333;

  @media screen and ($mobile) {
    font-size: 16px;
  }
}

#calendar-container {
  &.collapsed {
    height: 88px;

    .calendar-row {
      height: 51px;

      &.-hide {
        display: none;
      }
    }
  }
}

.calendar {
  .calendar-row {
    &:before {
      background: none;
    }
    border-top: 1px solid #f1f1f1;
  }

  .calendar-week-header {
    background: none;
    height: auto;
    padding: 2px 0 15px;

    @media screen and ($mobile) {
      padding: 8px 0 15px;
    }

    .calendar-week-day {
      font-size: 20px;
      line-height: 1em;
      color: #333333;

      @media screen and ($mobile) {
        font-size: 15px;
      }
    }
  }

  .calendar-day {
    position: relative;

    &.calendar-day-prev {
      height: 0;

      .calendar-day-number {
        display: none;
      }
    }

    &.calendar-day-has-events {
      .calendar-day-number {
        color: #fff;
      }
    }

    .calendar-day-number {
      color: #333333;
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 20px;
      line-height: 51px;
    }

    &.calendar-day-today {
      .calendar-day-number {
        background: none;
        color: #ff4500;
      }

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent #333333 transparent;
        bottom: 0;
        right: 0;
        z-index: 99;

        @media screen and ($mobile) {
          border-width: 0 0 18px 18px;
        }
      }
    }

    &.calendar-day-selected {
      .calendar-day-number {
        background: none;
      }
    }
  }

  .calendar-day-events {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;

    .calendar-day-event {
      border-radius: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: auto;
      height: auto;
      margin: 0;

      &:nth-child(2) {
        top: 33%;
      }

      &:nth-child(3) {
        top: 66%;
      }
    }
  }
}
