<script id="accounts__listsTemplate" type="text/template">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{#each this}}
            {{#if data.active}}
            <div class="swiper-slide" data-list-id="{{id}}">
                <div class="list">
                    <div class="list-header">
                        <div>{{name}}</div>
                        {{#accounts__ifCanEditList this}}
                        <div>
                            <a href="{{addonAssetUrl "views/list-edit.html"}}&list_fragment_id={{id}}">
                                <img src="{{addonAssetUrl "views/images/slice6.png"}}" srcset="{{addonAssetUrl "views/images/slice6@2x.png"}} 2x,{{addonAssetUrl "views/images/slice6@3x.png"}} 3x">
                            </a>
                        </div>
                        {{/accounts__ifCanEditList}}
                    </div>
                    <div class="list-content">
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</script>

<script id="accounts__listTransactionsTemplate" type="text/template">
    <div class="card transactions-card">
        <div class="card-header">{{t "index.transactions" defaultValue="Transactions"}}</div>
        <div class="card-content">
            <div class="list-block media-list transactions-list">
                <ul>
                    {{#each this}}
                    <li>
                      <a href="{{addonAssetUrl "views/transaction-details.html"}}?id={{id}}" class="item-content item-link">
                        <div class="item-media">
                          {{#if icon_url}}
                          <img src="{{icon_url}}">
                          {{else}}
                          <i class="wallet-icon-placeholder"></i>
                          {{/if}}
                        </div>
                        <div class="item-inner">
                          <div class="item-details">
                            <div class="item-title-row">
                              <div class="item-title">{{payee_name}}</div>
                            </div>
                            <div class="item-text">{{wallet__formatTransactionDate paid_at}}</div>
                          </div>
                          <div class="item-after">{{wallet__formatTransactionAmount this}}</div>
                        </div>
                      </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</script>
