$red: #DC3232;

.health-vitals-icon-settings {
  background-position: center;
  background-size: contain;
  width: 21px;
  height: 19px;
  background-image: url(../assets/icon-settings.svg);
}
.health-vitals-card, a.health-vitals-card {
  display: block;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
  border-radius: 4px;
  margin: 12px;
  padding: 12px;
  box-sizing: border-box;
  color: #333;
  font-weight: 500;
  .health-vitals-card-title {
    font-size: 24px;
  }
  .health-vitals-card-subtitle {
    font-size: 18px;
    color: #717171;
  }
}
.health-vitals-card-red {
  background: $red;
  .health-vitals-card-title,
  .health-vitals-card-subtitle {
    color: #fff;
  }
}
.health-vitals-subcard {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  background: #fff;
  &.health-vitals-subcard-empty {
    height: 100px;
    padding: 12px;
    font-size: 18px;
    color: #717171;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
  .health-vitals-subcard-title {
    font-size: 20px;
    color: #717171;
    border-bottom: 1px solid #E7E7E7;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .health-vitals-subcard-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .health-vitals-subcard-value {
    color: #333;
    font-size: 38px;
    line-height: 1;
    sup, sub {
      font-size: 18px;
      font-weight: normal;
      vertical-align: baseline;
    }
  }
  .health-vitals-card-icon img {
    display: block;
  }
  .health-vitals-card-icon-text {
    margin-right: auto;
    margin-left: 12px;
    font-size: 20px;
    color: #333;
  }
}
.health-vitals-subcard-red {
  .health-vitals-subcard-value {
    color: $red;
  }
}
@media (min-width: 768px) {
  .health-vitals-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    // justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .health-vitals-card, a.health-vitals-card  {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: calc((100% - 12px * 2) / 3);
    margin-right: 12px;
  }
}
.health-vitals-user-card {
  display: flex;

  .health-vitals-user-card-content {
    flex-shrink: 10;
    min-width: 0;
    width: 100%;
  }
  .avatar-circle {
    width: 78px;
    height: 78px;
    flex-shrink: 0;
    margin-right: 12px;
  }
  .name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }
  .props {
    display: flex;
    font-size: 18px;
    font-weight: 500;
  }
  .prop {
    display: flex;
  }
  .prop-label {
    color: #A3A3A3;
    margin-right: 5px;
  }
}
.health-vitals-panel {
  width: 300px;
}
.health-vitals-panel-list {
  font-size: 18px !important;
  .item-media img {
    width: 44px;
    height: 44px;
  }
}

@import './addons-common/addon.scss';
@import './addons/blood_glucose/addon.scss';
@import './addons/blood_pressure/addon.scss';
@import './addons/heart_rate/addon.scss';
@import './addons/height/addon.scss';
@import './addons/immunisations/addon.scss';
@import './addons/medication_reminder/addon.scss';
@import './addons/pedometer/addon.scss';
@import './addons/temperature/addon.scss';
@import './addons/water_tracker/addon.scss';
@import './addons/weight/addon.scss';