<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">{{backButton "native"}}</div>
    <div class="center sliding">{{t "main.title" ns="availability" defaultValue="Availabilities"}}</div>
    <div class="right"><a href="#" class="save link">Save</a></div>
  </div>
</div>
<div class="page" id="availability__main"
    data-page="availability__main"
    data-addon="availability"
    data-view="main"
    data-path="{{addonAssetUrl}}">
  <div class="page-content">
    <div data-template="availability__availabilityListGroupTemplate"></div>
  </div>
</div>
