<script id="availability__availabilityListGroupTemplate" type="text/template">
  <div class="list-block no-margin no-border-top dividers">
    <ul>
      {{#each this}}
      <li class="item-content">
        <div class="item-media availability__list-date">
          <strong>{{dayOrToday start_at}}</strong>
          <span>{{formatDate start_at "Do MMM"}}</span>
        </div>
        <div class="item-inner">
          <div class="item-title availability__toggle-container">
            <a href="#" class="availability__toggle-availability {{availability__unavailableProperty "am" data "unavailable"}}" data-availability="am"><span>{{t "word.am" ns="availability" defaultValue="am"}}<span></a>
            <a href="#" class="availability__toggle-availability {{availability__unavailableProperty "pm" data "unavailable"}}" data-availability="pm"><span>{{t "word.pm" ns="availability" defaultValue="pm"}}<span></a>
            <a href="#" class="availability__toggle-availability {{availability__unavailableProperty "ns" data "unavailable"}}" data-availability="ns"><span>{{t "word.ns" ns="availability" defaultValue="ns"}}<span></a>
            <form>
              <input type="hidden" name="start_at" value="{{formatDate start_at "YYYY-MM-DD"}}" />
              <input type="checkbox" name="am" {{availability__unavailableProperty "am" data "checked"}} />
              <input type="checkbox" name="pm" {{availability__unavailableProperty "pm" data "checked"}} />
              <input type="checkbox" name="ns" {{availability__unavailableProperty "ns" data "checked"}} />
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</script>
