@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('../fonts/Roboto-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('../fonts/Roboto-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/Roboto-Medium.ttf')  format('truetype');
}

body {
  font-family: 'Roboto';
	background: #e5e5e5;
  /*font-size: 13pt;*/
}
iframe {
	height: 100%;
}

a {
	color: #F1823A;
}

/*
  Reusable Styles
*/

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.pull-left,
.float-left {
	float: left;
}
.pull-right,
.float-right {
	float: right;
}
.clear,
.clearfix {
	clear: both;
}
.full-width {
	width: 100% !important;
}
.auto-width {
  width: auto !important;
}
.hide {
	display: none !important;
}
.word-wrap {
	word-wrap: break-word;
}
.left-block {
  float: left;
  margin-right: 15px;
}
.color-white {
	color: white;
}
.no-margin {
	margin: 0px !important;
}
.topset,
.mt-0 {
	margin-top: 0px !important;
}
.centered,
.text-center {
	text-align: center;
}
.transparent {
	background: transparent;
}
.white-border {
	border: 1px solid #fff;
}
.float-bottom {
	position: absolute;
	bottom: 0;
}
img.round {
	border-radius: 10px;
}
img.circle {
	border-radius: 50%;
}

.full-width { width: 100%; }

ul.plain {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bottom-0 { margin-bottom: 0 !important; }
.bottom-10 { margin-bottom: 10px !important; }
.bottom-15 { margin-bottom: 15px !important; }
.bottom-20 { margin-bottom: 20px !important; }
.top-0 { margin-top: 0 !important; }
.top-10 { margin-top: 10px !important; }
.top-15 { margin-top: 15px !important; }
.top-20 { margin-top: 20px !important; }

.hairline-top,
.hairline-bottom {
  position: relative;
}
.hairline-top:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: auto;
  right: auto;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,.05) !important;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.hairline-bottom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.pixel-ratio-2 .hairline-top:after,
html.pixel-ratio-2 .hairline-bottom:after {
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
html.pixel-ratio-3 .hairline-top:after,
html.pixel-ratio-3 .hairline-bottom:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}

/* disabled links and buttons */
a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.5;
}

/*
  Icons
*/

.icon-16 {
	width: 16px;
	height: 16px;
}
.icon-24 {
	width: 24px;
	height: 24px;
}
.icon-32 {
	width: 32px;
	height: 32px;
}
.icon-48 {
	width: 48px;
	height: 48px;
}
.icon-64 {
	width: 64px;
	height: 64px;
}

/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/*
  Tables
*/

.table {
	margin-bottom: 20px;
	max-width: 100%;
	padding-left: 10px;
	width: 100%;
}
.table td {
	border: 1px solid #ddd;
	font-size: 18px;
	padding: 6px;
}

.zerba .row {
	padding: 8px 0;
}
.zerba .row:nth-child(even) {
	background: #f6f6f6;
}

.no-data {
	text-align: center;
	padding-top: 25px;
  color: #6d6d72;
}
.no-data > p:only-child {
	margin: 0;
}


/*
 Framework7 Extensions and Overrides
*/

/* HACK: override before and after for F7 harilines */
/**:before,*/
/**:after {*/
	/*background-color: #ccc !important;*/
/*}*/
.notification-item *:before,
.notification-item *:after {
	/*background-color: #ccc !important;*/
  background-color: transparent !important;
}
.icon-form-checkbox:after {
	background-color: transparent !important;
}
.label-switch .checkbox:before {
	background-color: #BDBDBD !important;
}
.label-switch .checkbox:after {
	background-color: white !important;
}
.label-switch input[type=checkbox]:checked+.checkbox {
  background: #F1823A !important;
}

.no-border:before,
.no-border > *:before,
.no-border:after,
.no-border > *:after  {
	display: none !important;
}

.no-border-top:before,
.no-border-top > *:before {
	display: none !important;
}
.no-border-bottom:after,
.no-border-bottom > *:after {
	display: none !important;
}

/*.navbar::after {
	background-color: #D9D9D9;
}*/

.toolbar-through .page-content,
.toolbar-fixed .page-content,
.tabbar-through .page-content,
.tabbar-fixed .page-content {
	/*padding-top: 60px;
	padding-bottom: 65px;*/
}
.navbar-fixed .page-content,
.navbar-through .page-content {
    /*padding-top: 60px;*/
}
.navbar-fixed .page > .searchbar,
.navbar-through .page > .searchbar,
.navbar-fixed > .searchbar,
.navbar-through > .searchbar {
	/*top: 60px;*/
}

.swipeout-actions-left a.bg-green,
.list-block .swipeout-actions-right a.bg-green,
a.bg-green {
    background-color: #4cd964;
}
.list-block .swipeout-actions-left a.swipeout-delete,
.list-block .swipeout-actions-right a.swipeout-delete {
    background: #ff3b30;
}

.form-checkbox input[type=checkbox]:checked~i, label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
  background-color: #F1823A;
}

/*
  Button
*/

.button {
  border: 1px solid #F1823A;
	color: #F1823A;
}
.button.active {
  background: #F1823A;
}
.button.button-fill {
	background: #F1823A;
}

/*
  Navbar
*/

.navbar {
	/*font-size: 12px;*/
	/*color: white;*/
	color: #F1823A;
	background: #F5F5F5;
}
.navbar:after {
  display: none;
}
/* remove padding beside buttons */
.navbar .navbar-inner {
   padding: 0;
}

.navbar .left .link.icon-only.open-panel i {
	font-size: 32px;
}

.navbar .left {
  position: relative;
}

.navbar .left .preloader {
  /*display: none !important;*/
	position: absolute;
  line-height: 44px;
  height: 44px;
  right: 0;
  left: 44px;
}

.navbar i {
	color: #F1823A;
}

.navbar .back .material-icons {
	font-size: 36px;
	/*width: 25px;*/
}

.navbar .icon-only .media-avatar {
	display: block;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	border: 1px solid #fff;
	outline: 0;
	/*background-size: 100% 100%;*/
}
.navbar .icon-only .media-avatar:not([src]){
  visibility: hidden;
}
.navbar .center { font-size: 24px; font-weight: 100 !important; display: inline-block !important; /* for ellipsis on Chrome */ }
.navbar .right, .navbar .left {
  font-weight: 100 !important;
}
.navbar a.link i.material-icons+span {
  margin-left: 0; /* remove extra space from icon navbar buttons with text */
}

/*
  Toolbar
*/
.toolbar {
	/*color: #F1823A;*/
	background: #eee;
}

.tabbar i.material-icons {
  margin-top: 4px;
}

.tabbar-labels span.tabbar-label {
  font-size: 12px;
  font-weight: 300;
}

.tabbar a.active {
    color: #F1823A;
}

.toolbar .toolbar-icon {
	color: #F1823A;
	font-size: 26px;
	/*line-height: 26px;*/
}

.toolbar .link {
  cursor: pointer;
}

.toolbar .button {
  border-radius: 0;
}

.toolbar.toolbar-bottom-button:before {
	display: none;
}

/*.toolbar.toolbar-bottom-button {
	height: 50px;
}

.toolbar.toolbar-bottom-button .button {
	height: 50px;
	line-height: 50px;
  font-size: 18px;
}*/

.toolbar-big .toolbar.toolbar-bottom-button {
	height: 65px;
}

.toolbar-big .toolbar.toolbar-bottom-button .button {
	height: 65px;
	line-height: 65px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100;
}

.toolbar-fixed.toolbar-big .page-content {
	/*padding-top: 60px;*/
	padding-bottom: 65px;
}

.right a, .left a {
	/*color: #fff;*/
	/* padding-left: 7px; */ /* total 15px */
	/* padding-right: 7px; */ /* total 15px */
}
.right a.link {
	/*padding: 10px 0 10px 30px;*/
}
.left a.link {
	/*padding: 10px 30px 10px 0;*/
}


/*
  Page
*/

.page {
	background: #F5F5F5;
}


/*
  Popup
*/

.popup .popup-content {
  padding: 20px;
}
.popup .close-link {
  /*position: absolute*/
}


/*
  Modal
*/
.modal .modal-button {
  color: #000;
}

.modal .modal-button-bold {
  background: #FF4500;
  color: white;
  /*position: absolute*/
}


/*
  Sliding Sidebar
*/

.panel {
  display: block;
  overflow: visible;
}
.panel.panel-left {
    width: 90%;
}
#main-menu-drag-handle {
  position: absolute;
  right: -10px;
  width: 10px;
  top: 50%;
  margin-top: -35px;
}
#main-menu-drag-handle img {
  height: 70px;
}
#main-menu-content { overflow: auto; width: 100%; height: 100%; }

body.with-panel-left-cover .panel-overlay,
body.with-panel-right-cover .panel-overlay {
  background: rgba(0,0,0,0.5);
  opacity: 1;
}

/*
  Content Blocks
*/

.content-block-title {
	color: #F1823A;
  font-size: 13px;
}

/*
  List Blocks
*/

.list-block {
  font-size: 15px;
}
.list-block.no-border .item-inner::after { display: none }

.list-block .item-link.list-button {
  color: #F1823A;
}
.list-block .item-link .item-inner {
  background-image: none;
}

/* hide top border for lists below title */
/*.list-block.no-margin ul:before {*/
	/*.list-block.topset ul:before */
	/*display: none;
}*/

.list-block li.media-item .item-link .item-title-row, .list-block.media-list .item-link .item-title-row {
  padding-right: 0;
  background-image: none;
}

.list-block.action-list ul, .list-block.chat-list ul,
.list-block.contact-list ul, .list-block.addon-list ul,
.list-block.contacts-block ul, .list-block.no-margin ul,
.list-block.transparent ul, .list-block.media-list ul {
  background-color: transparent;
}
.list-block li.media-item .item-title, .list-block.media-list .item-title {
  font-weight: normal;
}
html.ios-gt-8 .list-block li.media-item .item-title, html.ios-gt-8 .list-block.media-list .item-title {
  font-weight: normal;
}
#chats-main .list-block ul:after, #chats-main .list-block .item-inner:after {
  background-color: transparent !important;
}
.list-block ul:after {
  background-color: transparent !important;
}
.list-block .time {
  font-size: 13px;
}

/*border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;*/

.list-block .item-text {
  height: auto;
  font-size: 13px;
}
.list-block .item-after {
  font-size: 13px;
}

/* Custom after action */
.list-block .item-after-action {
  position: absolute;
  right: 15px;
	color: #8e8e93;
  /*font-size: 13px;*/
}
.list-block .item-after-action i {
  height: 24px;
}

.list-block.padded-items .item-inner {
  padding-top: 17px;
  padding-bottom: 16px;
}

.list-block textarea {
	height: auto;
	min-height: 150px;
	max-height: 250px;
	color: #666;
}

.list-group-title {
	background: #f5f5f5 !important;
}

/*
  Media List
*/

.list-block.media-list .item-media {
  /*padding-top: 5px;
  padding-bottom: 6px;*/
}

.list-block.media-list .item-media img {
	min-height: 50px;
	width: 50px;
	height: 50px;
}

/* Text Icons (for dates etc) */
.list-block.media-list .item-media.text-icon {
  height: 50px;
  width: 50px;
  text-align: center;
  background: #FF5615;
  border-radius: 50%;
  color: white;
  padding-top: 11px;
  line-height: 1.25;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-block.media-list .item-media.text-icon span {
  display: block;
  font-weight: bold;
}

.list-block.media-list .item-media.text-icon small {
  display: block;
  font-size: 80%;
}


/* used on form and media list items */
.list-block .item-media img.small {
	max-height: 24px;
	/*width: 50px;
	height: 50px;*/
}


/*
  Horizontal List
*/
.list-block.horizontal-list .item-link i {
  margin-top: 12px;
}
.list-block.horizontal-list {
  overflow: auto;
  padding: 5px 0 5px 0;
}
.list-block.horizontal-list ul {
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 20px;
}
.list-block.horizontal-list ul li {
  display: inline-block;
  max-width: 85px;
}
.list-block.horizontal-list .item-content {
  /*float: left;*/
  text-align: center;
  display: inline-block;
  max-width: 85px;
  padding: 5px;
  /*padding-right: 5px;*/
  /*display: block;*/
}
.list-block.horizontal-list .item-content .item-media {
  display: block;
}
.list-block.horizontal-list .item-content .item-inner {
  display: block;
  padding: 0;
  margin: 0;
}
.list-block.horizontal-list .item-content .item-inner:after {
  background-color: transparent !important;
}
.list-block.horizontal-list .item-content .item-title {
  white-space: normal;
  max-height: 50px;
}


/*
  Chats
*/
.modal-overlay, .picker-modal-overlay, .popup-overlay, .preloader-indicator-overlay {
  background: rgba(0,0,0,.15);
}
.popover.chat-contact-links li i {
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.popover.chat-contact-links .list-block .list-button {
  text-align: left;
  color: inherit;
}
.popover.chat-contact-links .popover-angle.on-top {
  /* width: 16px; */
  /* height: 16px; */
  /* height: 20px; */
}
.popover.chat-contact-links .popover-angle.on-top:after {
  width: 12px;
  height: 12px;
  border-radius: 0;
  left: 2px;
  top: 20px;
}
.popover.chat-contact-links {
  width: 180px;
  text-align: left;
}
.popover.chat-contact-links .list-block .list-button:after {
  background-color: rgba(0,0,0,.05);
}


/*
  Contacts List
*/

.contacts-content {
  background-color: transparent;
}
.contacts-block .list-group:first-child .list-group-title {
	height: 32px;
	padding-top: 10px;
}
.contacts-block .item-inner:after {
  display: none !important;
}
.contacts-block .centered-title {
  margin: 0;
  height: 20px;
}
.list-block .list-block-label {
  font-size: 12px;
}
.list-block .item-input {
  width: auto;
}


.smart-select-page li.disabled {
    display:none
}


/* Pretty List Dividers */
.list-block.dividers li {
	border-bottom: 1px solid #D9D9D9;
}
.list-block.dividers li::after,
.list-block.dividers .item-inner::after {
	background-color: transparent !important;
}

.list-block.no-dividers li::after,
.list-block.no-dividers .item-inner::after {
	background-color: transparent !important;
}

/* Modal List */
.list-block.modal-list {
	margin: 0;
}
.list-block.modal-list ul {
	background-color: transparent !important;
}
.list-block.modal-list .item-link .item-inner {
	background: transparent !important;
	padding-right: 0;
}
.list-block.modal-list .item-title {
	text-align: center;
	min-width: 100%;
}

/*
  Content Block Extensions
*/

.stacked {
	margin: 0;
}
.stacked .content-block-inner:before {
	display: none;
}
.content-block-inner, .content-block-inner:before, .content-block-inner:after {
  background-color: transparent !important;
}
.list-block.stacked ul {
  background-color: transparent !important;
}

/*
  Form Block
*/

.list-block.form-block {
  margin-top: 15px;
  margin-bottom: 15px;
}
.list-block.form-block:first-child {
  margin-top: 35px;
}
.list-block.form-block:last-child {
  margin-bottom: 35px;
}

/*
  Titles
*/

.centered-title {
	position: relative;
	text-align: center;
	margin: 20px 0 25px;
	height: 30px;
	line-height: 30px;
	/*color: #DE5E39;*/
}

/*.centered-title + .content-block-title,*/
.centered-title + .content-block,
.centered-title + .list-block {
	margin-top: 25px;
}

.centered-title span {
	background: #f5f5f5;
	display: inline-block;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 16px;
	/*letter-spacing: 2px;*/
	padding: 0 10px;
	height: 100%;
	z-index: 1;
}

/*.centered-title:after {
	content: " ";
	width: 100%;
	left: 0;
	height: 15px;
	position: absolute;
	background: transparent !important;
  border-bottom: 1px solid #e9e9e9;
}*/
.centered-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: 15px;
  height: 1px;
  width: 100%;
  background-color: #E0E0E0;
  display: block;
  /*z-index: 15;*/
	z-index: -1;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.pixel-ratio-2 .centered-title:after {
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
html.pixel-ratio-3 .centered-title:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}

.title {
	font-weight: 300;
	margin: 17px 0 3px;
	color: #505050;
}

/*
  Tage Select Component
*/

.tag-select ul {
}
.tag-select select {
	visibility: hidden;
	height: 0;
	position: absolute;
}
.tag-select .tag-search .item-inner {
	background: none !important;
}
.tag-select .tag-search .item-media i {
	color: #F1823A;
}
.tag-select .tag-search .item-title {
	color: #999;
}

.tag-select .tag-item {
	padding: 10px 15px 0;
}
.tag-select .tag-item:last-child {
	padding-bottom: 10px;
}
.tag-select .tag-item .item-inner {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
	background: #FEF9F5;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
	color: #333;
}
.tag-select .tag-item .item-inner::after {
	display: none;
}
.tag-select .tag-item .item-after i {
	color: #F1823A;
}


/* Form elements */
.list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block select, .list-block textarea {
  font-size: 13px;
}
.list-block ul:before {
  display: none !important;
}
.button.button-big {
  font-size: 13px;
}

div#recent .centered-title {
  margin-top: 0;
  margin-bottom: 10px;
}


/*
  Calendar
*/

.picker-calendar-row:after {
  z-index: 20; /* above cell */
}


/*
  Date Picker
*/

.picker-items-col-left {
  max-width: 70px;
}
.picker-item span {
    padding: 0 5px;
}

/* Avatars */
.avatar-circle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #F1823A;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  font-size: 18px;
  font-weight: 300;
  color: white;
}

.avatar-circle .initials {
/*  top: 0;
  left: 0;
  bottom: 0;
  right: 0;*/
  /*z-index: -1;*/
}

.avatar-circle .badge {
  position: absolute;
/*  width: 10px;
  height: 100%;*/
  bottom: 0;
  right: 0;
/*  border: 0;
  outline: 0;*/
/*  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;*/
  width: 20px;
  background: #c00;
  z-index: 1;
  /*font-size: 9px;*/
}

/* Online State */
.avatar-circle .badge.online {
  background-color: #46b346;
}
.avatar-circle .badge.offline {
  /*background-color: #a5daa5;*/
  display: none;
}

.avatar-circle img {
  position: absolute;
  min-height: auto !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #F1823A;
}


/* Icons */
span.icon {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}
.toolbar-inner span.icon {
  margin-top: 6px;
}


.icon.icon-newchat {
  width: 20px;
  height: 20px;
  background-image: url('../../images/icons/NewChat.png');
  background-size: 20px 20px;
}
.icon.icon-more {
  width: 20px;
  height: 20px;
  background-image: url('../../images/icons/MorePassive.png');
  background-size: 20px 6px;
  background-position: center center;
}
.icon.icon-more-active {
  background-image: url('../../images/icons/MoreActive.png');
}


.icon.icon-chat {
  width: 18px;
  height: 20px;
  background-image: url('../../images/icons/ChatPassive.png');
  background-size: 18px 18px;
}
.active .icon.icon-chat {
  background-image: url('../../images/icons/ChatActive.png');
}

.icon.icon-contacts {
  width: 19px;
  height: 20px;
  background-image: url('../../images/icons/ContactsPassive.png');
  background-size: 19px 19px;
}
.active .icon.icon-contacts {
  background-image: url('../../images/icons/ContactsActive.png');
}

.icon.icon-actions {
  width: 11px;
  height: 20px;
  background-image: url('../../images/icons/ActionPassive.png');
  background-size: 11px 18px;
}
.active .icon.icon-actions {
  background-image: url('../../images/icons/ActionActive.png');
}

/* @2x Images (Pixel Ratio of 1.25+) */
@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (   min--moz-device-pixel-ratio: 1.5),
  only screen and (     -o-min-device-pixel-ratio: 3/2),
  only screen and (        min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 192dpi) {

  .icon.icon-newchat {
    background-image: url('../../images/icons/NewChat@2x.png');
  }

  .icon.icon-more {
    background-image: url('../../images/icons/MorePassive@2x.png');
  }
  .icon.icon-more-active {
    background-image: url('../../images/icons/MoreActive@2x.png');
  }

  .icon.icon-chat {
    background-image: url('../../images/icons/ChatPassive@2x.png');
  }
  .active .icon.icon-chat {
    background-image: url('../../images/icons/ChatActive@2x.png');
  }

  .icon.icon-contacts {
    background-image: url('../../images/icons/ContactsPassive@2x.png');
  }
  .active .icon.icon-contacts {
    background-image: url('../../images/icons/ContactsActive@2x.png');
  }

  .icon.icon-actions {
    background-image: url('../../images/icons/ActionPassive@2x.png');
  }
  .active .icon.icon-actions {
    background-image: url('../../images/icons/ActionActive@2x.png');
  }
}

/* @3x Images (Pixel Ratio of 2.25+) */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
  only screen and (-webkit-min-device-pixel-ratio: 2.25),
  only screen and (min-device-pixel-ratio: 2.25),
  only screen and (min-resolution: 2.25dppx) {

  .icon.icon-newchat {
    background-image: url('../../images/icons/NewChat@3x.png');
  }

  .icon.icon-more {
    background-image: url('../../images/icons/MorePassive@3x.png');
  }
  .icon.icon-more-active {
    background-image: url('../../images/icons/MoreActive@3x.png');
  }

  .icon.icon-chat {
    background-image: url('../../images/icons/ChatPassive@3x.png');
  }
  .active .icon.icon-chat {
    background-image: url('../../images/icons/ChatActive@3x.png');
  }

  .icon.icon-contacts {
    background-image: url('../../images/icons/ContactsPassive@3x.png');
  }
  .active .icon.icon-contacts {
    background-image: url('../../images/icons/ContactsActive@3x.png');
  }

  .icon.icon-actions {
    background-image: url('../../images/icons/ActionPassive@3x.png');
  }
  .active .icon.icon-actions {
    background-image: url('../../images/icons/ActionActive@3x.png');
  }
}

/* Search bar */
.searchbar {
  background-color: transparent;
  padding: 0 0 5px 0;
  margin: 0;
  background-color: #F5F5F5;
}
.searchbar .searchbar-input {
  height: 34px;
}
.searchbar input[type=search] {
  border-radius: 0 !important;
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
}
.searchbar .searchbar-clear {
  top: 3px;
}
.searchbar:after {
  background-color: transparent !important;
}
.searchbar-overlay.searchbar-overlay-active {
  opacity: 0;
}
.searchbar.searchbar-active .searchbar-cancel {
  font-weight: 300;
  padding-right: 8px;
}

/* Actions and Addons */
.action-details .centered-title {
  margin: 10px 0 !important;
}
.action-details .content-block {
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}

/* Calendar */
.picker-calendar .toolbar-inner, .picker-calendar-day {
  font-size: 14px;
}

/* Transparent pages */
body.transparent {
  background: none transparent;
}
body.transparent .panel {
  opacity: 0;
}
body.transparent .pages {
  background: none transparent;
}
body.transparent .pages .page {
  background: none transparent;
  opacity: 0;
}
body.transparent .pages .page.page-on-center {
  opacity: 1;
}


/*
  Inline Editing Widget
*/

.inline-edit {
    width: 100%;
}

.inline-edit textarea {
    background: white;
    width: 100%;
    /*padding-left: 8px;
    padding-right: 8px;*/
    padding: 0;
    font-size: inherit !important;
    /*font-size: 14px;*/
}

/* used on a textarea for inline editing disabled state */
input.unstyled,
textarea.unstyled {
    font-size: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    min-height: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
textarea.unstyled {
    height: 22px !important;
}

/*body.scan-qr .views {
  display: none;
}*/

/*
  QR Scanner
*/

#qr-scanner {

}
#qr-scanner .scanner-frame {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10125px;
  margin-left: -10125px;
  border: 10000px solid rgba(0,0,0,0.75);
}
#qr-scanner .scanner-hint {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 145px;
  text-align: center;
  color: white;
}


/*
  iPhone 6 and 6 Plus
  TODO: merge into scss once available
*/
@media only screen and (min-device-width: 375px)
{
  /*body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(360px,0,0);
    transform: translate3d(360px,0,0);
  }

  .panel.panel-left.panel-cover {
    z-index: 6000;
    left: -360px;
  }*/

  /*body {
    font-size: 14px !important;
  }*/

  .menu li a {
    font-size: 14px !important;
  }

  .menu li img {
    width: 60px !important;
  }

  .message .message-text {
    font-size: 14px !important;
  }

  .centered-title span {
    font-size: 15px !important;
  }
  .navbar .center {
    /*font-size: 23px !important;*/
    font-size: 25px !important;
  }
}

@media only screen and (min-device-width: 1000px) {
  .panel.panel-left {
    max-width: 340px;
  }
}


/*
  Toggle Save Button
*/
.navbar .save.toggle {
  /*display: none;*/
  /*visibility: hidden;*/
  opacity: 0;
}
.navbar .save.toggle.active {
  /*visibility: visible;*/
  opacity: 1;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
}
