#biometrics__assessment {
  background: white;
}


#biometrics__assessment .data-table {
  color: #464646;
}
#biometrics__assessment .data-table thead {
  font-size: inherit;
}
#biometrics__assessment .data-table thead th {
  color: inherit;
}
#biometrics__assessment .data-table td:before {
   display: none;
}


#biometrics__assessment-result {
  text-align: center;
  margin: 20px 0;
}

#biometrics__assessment-result .biometrics__chart .biometrics__c100 {
  float: none;
  margin: 0 auto;
}

#biometrics__assessment-result .biometrics__result {
  color: #FF4F00;
  font-size: 40px;
}


#biometrics__patient-profile {
  /*color: #464646;*/
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

#biometrics__patient-profile th {
  padding-bottom: 5px;
  font-size: 12px;
  /*font-weight: normal;*/
}
#biometrics__patient-profile th,
#biometrics__patient-profile td {
  border-right: 1px solid #eee;
  height: auto;
  text-align: center;
}

#biometrics__patient-profile td.last{
  border-right: none;
}

/*#biometrics__patient-profile label {
  display: block;
  margin-bottom: 4px;
}*/

/*#biometrics__assessment-list.list-block.dividers li {
	border-color: #eee;
}

#biometrics__assessment-list.list-block.dividers li:nth-child(odd) {
	background-color: #f9f9ff;
}
#biometrics__assessment-list.list-block .item-inner {
  padding-right: 35px;
}*/


#biometrics__assessment-table.data-table tbody tr:nth-child(odd) td {
	background-color: #f9f9f9;
}


/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/
.rect-auto, .biometrics__c100.biometrics__p51 .biometrics__slice, .biometrics__c100.biometrics__p52 .biometrics__slice, .biometrics__c100.biometrics__p53 .biometrics__slice, .biometrics__c100.biometrics__p54 .biometrics__slice, .biometrics__c100.biometrics__p55 .biometrics__slice, .biometrics__c100.biometrics__p56 .biometrics__slice, .biometrics__c100.biometrics__p57 .biometrics__slice, .biometrics__c100.biometrics__p58 .biometrics__slice, .biometrics__c100.biometrics__p59 .biometrics__slice, .biometrics__c100.biometrics__p60 .biometrics__slice, .biometrics__c100.biometrics__p61 .biometrics__slice, .biometrics__c100.biometrics__p62 .biometrics__slice, .biometrics__c100.biometrics__p63 .biometrics__slice, .biometrics__c100.biometrics__p64 .biometrics__slice, .biometrics__c100.biometrics__p65 .biometrics__slice, .biometrics__c100.biometrics__p66 .biometrics__slice, .biometrics__c100.biometrics__p67 .biometrics__slice, .biometrics__c100.biometrics__p68 .biometrics__slice, .biometrics__c100.biometrics__p69 .biometrics__slice, .biometrics__c100.biometrics__p70 .biometrics__slice, .biometrics__c100.biometrics__p71 .biometrics__slice, .biometrics__c100.biometrics__p72 .biometrics__slice, .biometrics__c100.biometrics__p73 .biometrics__slice, .biometrics__c100.biometrics__p74 .biometrics__slice, .biometrics__c100.biometrics__p75 .biometrics__slice, .biometrics__c100.biometrics__p76 .biometrics__slice, .biometrics__c100.biometrics__p77 .biometrics__slice, .biometrics__c100.biometrics__p78 .biometrics__slice, .biometrics__c100.biometrics__p79 .biometrics__slice, .biometrics__c100.biometrics__p80 .biometrics__slice, .biometrics__c100.biometrics__p81 .biometrics__slice, .biometrics__c100.biometrics__p82 .biometrics__slice, .biometrics__c100.biometrics__p83 .biometrics__slice, .biometrics__c100.biometrics__p84 .biometrics__slice, .biometrics__c100.biometrics__p85 .biometrics__slice, .biometrics__c100.biometrics__p86 .biometrics__slice, .biometrics__c100.biometrics__p87 .biometrics__slice, .biometrics__c100.biometrics__p88 .biometrics__slice, .biometrics__c100.biometrics__p89 .biometrics__slice, .biometrics__c100.biometrics__p90 .biometrics__slice, .biometrics__c100.biometrics__p91 .biometrics__slice, .biometrics__c100.biometrics__p92 .biometrics__slice, .biometrics__c100.biometrics__p93 .biometrics__slice, .biometrics__c100.biometrics__p94 .biometrics__slice, .biometrics__c100.biometrics__p95 .biometrics__slice, .biometrics__c100.biometrics__p96 .biometrics__slice, .biometrics__c100.biometrics__p97 .biometrics__slice, .biometrics__c100.biometrics__p98 .biometrics__slice, .biometrics__c100.biometrics__p99 .biometrics__slice, .biometrics__c100.biometrics__p100 .biometrics__slice {
  clip: rect(auto, auto, auto, auto);
}

.biometrics__pie, .biometrics__c100 .biometrics__bar, .biometrics__c100.biometrics__p51 .biometrics__fill, .biometrics__c100.biometrics__p52 .biometrics__fill, .biometrics__c100.biometrics__p53 .biometrics__fill, .biometrics__c100.biometrics__p54 .biometrics__fill, .biometrics__c100.biometrics__p55 .biometrics__fill, .biometrics__c100.biometrics__p56 .biometrics__fill, .biometrics__c100.biometrics__p57 .biometrics__fill, .biometrics__c100.biometrics__p58 .biometrics__fill, .biometrics__c100.biometrics__p59 .biometrics__fill, .biometrics__c100.biometrics__p60 .biometrics__fill, .biometrics__c100.biometrics__p61 .biometrics__fill, .biometrics__c100.biometrics__p62 .biometrics__fill, .biometrics__c100.biometrics__p63 .biometrics__fill, .biometrics__c100.biometrics__p64 .biometrics__fill, .biometrics__c100.biometrics__p65 .biometrics__fill, .biometrics__c100.biometrics__p66 .biometrics__fill, .biometrics__c100.biometrics__p67 .biometrics__fill, .biometrics__c100.biometrics__p68 .biometrics__fill, .biometrics__c100.biometrics__p69 .biometrics__fill, .biometrics__c100.biometrics__p70 .biometrics__fill, .biometrics__c100.biometrics__p71 .biometrics__fill, .biometrics__c100.biometrics__p72 .biometrics__fill, .biometrics__c100.biometrics__p73 .biometrics__fill, .biometrics__c100.biometrics__p74 .biometrics__fill, .biometrics__c100.biometrics__p75 .biometrics__fill, .biometrics__c100.biometrics__p76 .biometrics__fill, .biometrics__c100.biometrics__p77 .biometrics__fill, .biometrics__c100.biometrics__p78 .biometrics__fill, .biometrics__c100.biometrics__p79 .biometrics__fill, .biometrics__c100.biometrics__p80 .biometrics__fill, .biometrics__c100.biometrics__p81 .biometrics__fill, .biometrics__c100.biometrics__p82 .biometrics__fill, .biometrics__c100.biometrics__p83 .biometrics__fill, .biometrics__c100.biometrics__p84 .biometrics__fill, .biometrics__c100.biometrics__p85 .biometrics__fill, .biometrics__c100.biometrics__p86 .biometrics__fill, .biometrics__c100.biometrics__p87 .biometrics__fill, .biometrics__c100.biometrics__p88 .biometrics__fill, .biometrics__c100.biometrics__p89 .biometrics__fill, .biometrics__c100.biometrics__p90 .biometrics__fill, .biometrics__c100.biometrics__p91 .biometrics__fill, .biometrics__c100.biometrics__p92 .biometrics__fill, .biometrics__c100.biometrics__p93 .biometrics__fill, .biometrics__c100.biometrics__p94 .biometrics__fill, .biometrics__c100.biometrics__p95 .biometrics__fill, .biometrics__c100.biometrics__p96 .biometrics__fill, .biometrics__c100.biometrics__p97 .biometrics__fill, .biometrics__c100.biometrics__p98 .biometrics__fill, .biometrics__c100.biometrics__p99 .biometrics__fill, .biometrics__c100.biometrics__p100 .biometrics__fill {
  position: absolute;
  border: 0.08em solid #FF4F00;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.biometrics__pie-fill, .biometrics__c100.biometrics__p51 .biometrics__bar:after, .biometrics__c100.biometrics__p51 .biometrics__fill, .biometrics__c100.biometrics__p52 .biometrics__bar:after, .biometrics__c100.biometrics__p52 .biometrics__fill, .biometrics__c100.biometrics__p53 .biometrics__bar:after, .biometrics__c100.biometrics__p53 .biometrics__fill, .biometrics__c100.biometrics__p54 .biometrics__bar:after, .biometrics__c100.biometrics__p54 .biometrics__fill, .biometrics__c100.biometrics__p55 .biometrics__bar:after, .biometrics__c100.biometrics__p55 .biometrics__fill, .biometrics__c100.biometrics__p56 .biometrics__bar:after, .biometrics__c100.biometrics__p56 .biometrics__fill, .biometrics__c100.biometrics__p57 .biometrics__bar:after, .biometrics__c100.biometrics__p57 .biometrics__fill, .biometrics__c100.biometrics__p58 .biometrics__bar:after, .biometrics__c100.biometrics__p58 .biometrics__fill, .biometrics__c100.biometrics__p59 .biometrics__bar:after, .biometrics__c100.biometrics__p59 .biometrics__fill, .biometrics__c100.biometrics__p60 .biometrics__bar:after, .biometrics__c100.biometrics__p60 .biometrics__fill, .biometrics__c100.biometrics__p61 .biometrics__bar:after, .biometrics__c100.biometrics__p61 .biometrics__fill, .biometrics__c100.biometrics__p62 .biometrics__bar:after, .biometrics__c100.biometrics__p62 .biometrics__fill, .biometrics__c100.biometrics__p63 .biometrics__bar:after, .biometrics__c100.biometrics__p63 .biometrics__fill, .biometrics__c100.biometrics__p64 .biometrics__bar:after, .biometrics__c100.biometrics__p64 .biometrics__fill, .biometrics__c100.biometrics__p65 .biometrics__bar:after, .biometrics__c100.biometrics__p65 .biometrics__fill, .biometrics__c100.biometrics__p66 .biometrics__bar:after, .biometrics__c100.biometrics__p66 .biometrics__fill, .biometrics__c100.biometrics__p67 .biometrics__bar:after, .biometrics__c100.biometrics__p67 .biometrics__fill, .biometrics__c100.biometrics__p68 .biometrics__bar:after, .biometrics__c100.biometrics__p68 .biometrics__fill, .biometrics__c100.biometrics__p69 .biometrics__bar:after, .biometrics__c100.biometrics__p69 .biometrics__fill, .biometrics__c100.biometrics__p70 .biometrics__bar:after, .biometrics__c100.biometrics__p70 .biometrics__fill, .biometrics__c100.biometrics__p71 .biometrics__bar:after, .biometrics__c100.biometrics__p71 .biometrics__fill, .biometrics__c100.biometrics__p72 .biometrics__bar:after, .biometrics__c100.biometrics__p72 .biometrics__fill, .biometrics__c100.biometrics__p73 .biometrics__bar:after, .biometrics__c100.biometrics__p73 .biometrics__fill, .biometrics__c100.biometrics__p74 .biometrics__bar:after, .biometrics__c100.biometrics__p74 .biometrics__fill, .biometrics__c100.biometrics__p75 .biometrics__bar:after, .biometrics__c100.biometrics__p75 .biometrics__fill, .biometrics__c100.biometrics__p76 .biometrics__bar:after, .biometrics__c100.biometrics__p76 .biometrics__fill, .biometrics__c100.biometrics__p77 .biometrics__bar:after, .biometrics__c100.biometrics__p77 .biometrics__fill, .biometrics__c100.biometrics__p78 .biometrics__bar:after, .biometrics__c100.biometrics__p78 .biometrics__fill, .biometrics__c100.biometrics__p79 .biometrics__bar:after, .biometrics__c100.biometrics__p79 .biometrics__fill, .biometrics__c100.biometrics__p80 .biometrics__bar:after, .biometrics__c100.biometrics__p80 .biometrics__fill, .biometrics__c100.biometrics__p81 .biometrics__bar:after, .biometrics__c100.biometrics__p81 .biometrics__fill, .biometrics__c100.biometrics__p82 .biometrics__bar:after, .biometrics__c100.biometrics__p82 .biometrics__fill, .biometrics__c100.biometrics__p83 .biometrics__bar:after, .biometrics__c100.biometrics__p83 .biometrics__fill, .biometrics__c100.biometrics__p84 .biometrics__bar:after, .biometrics__c100.biometrics__p84 .biometrics__fill, .biometrics__c100.biometrics__p85 .biometrics__bar:after, .biometrics__c100.biometrics__p85 .biometrics__fill, .biometrics__c100.biometrics__p86 .biometrics__bar:after, .biometrics__c100.biometrics__p86 .biometrics__fill, .biometrics__c100.biometrics__p87 .biometrics__bar:after, .biometrics__c100.biometrics__p87 .biometrics__fill, .biometrics__c100.biometrics__p88 .biometrics__bar:after, .biometrics__c100.biometrics__p88 .biometrics__fill, .biometrics__c100.biometrics__p89 .biometrics__bar:after, .biometrics__c100.biometrics__p89 .biometrics__fill, .biometrics__c100.biometrics__p90 .biometrics__bar:after, .biometrics__c100.biometrics__p90 .biometrics__fill, .biometrics__c100.biometrics__p91 .biometrics__bar:after, .biometrics__c100.biometrics__p91 .biometrics__fill, .biometrics__c100.biometrics__p92 .biometrics__bar:after, .biometrics__c100.biometrics__p92 .biometrics__fill, .biometrics__c100.biometrics__p93 .biometrics__bar:after, .biometrics__c100.biometrics__p93 .biometrics__fill, .biometrics__c100.biometrics__p94 .biometrics__bar:after, .biometrics__c100.biometrics__p94 .biometrics__fill, .biometrics__c100.biometrics__p95 .biometrics__bar:after, .biometrics__c100.biometrics__p95 .biometrics__fill, .biometrics__c100.biometrics__p96 .biometrics__bar:after, .biometrics__c100.biometrics__p96 .biometrics__fill, .biometrics__c100.biometrics__p97 .biometrics__bar:after, .biometrics__c100.biometrics__p97 .biometrics__fill, .biometrics__c100.biometrics__p98 .biometrics__bar:after, .biometrics__c100.biometrics__p98 .biometrics__fill, .biometrics__c100.biometrics__p99 .biometrics__bar:after, .biometrics__c100.biometrics__p99 .biometrics__fill, .biometrics__c100.biometrics__p100 .biometrics__bar:after, .biometrics__c100.biometrics__p100 .biometrics__fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.biometrics__c100 {
  position: relative;
  font-size: 80px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #eee;
}
.biometrics__c100 *, .biometrics__c100 *:before, .biometrics__c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.biometrics__c100.biometrics__center {
  float: none;
  margin: 0 auto;
}
.biometrics__c100.big {
  font-size: 240px;
}
.biometrics__c100.small {
  font-size: 80px;
}
.biometrics__c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 2.9em;
  line-height: 2.9em;
  font-size: 0.35em;
  /*color: #cccccc;*/
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.biometrics__c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: white !important;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.biometrics__c100 .biometrics__slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.biometrics__c100.biometrics__p1 .biometrics__bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.biometrics__c100.biometrics__p2 .biometrics__bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.biometrics__c100.biometrics__p3 .biometrics__bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.biometrics__c100.biometrics__p4 .biometrics__bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.biometrics__c100.biometrics__p5 .biometrics__bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.biometrics__c100.biometrics__p6 .biometrics__bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.biometrics__c100.biometrics__p7 .biometrics__bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.biometrics__c100.biometrics__p8 .biometrics__bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.biometrics__c100.biometrics__p9 .biometrics__bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.biometrics__c100.biometrics__p10 .biometrics__bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.biometrics__c100.biometrics__p11 .biometrics__bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.biometrics__c100.biometrics__p12 .biometrics__bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.biometrics__c100.biometrics__p13 .biometrics__bar {
  -webkit-transform: rotate(46.8deg);
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -o-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.biometrics__c100.biometrics__p14 .biometrics__bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.biometrics__c100.biometrics__p15 .biometrics__bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.biometrics__c100.biometrics__p16 .biometrics__bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.biometrics__c100.biometrics__p17 .biometrics__bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.biometrics__c100.biometrics__p18 .biometrics__bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.biometrics__c100.biometrics__p19 .biometrics__bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.biometrics__c100.biometrics__p20 .biometrics__bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.biometrics__c100.biometrics__p21 .biometrics__bar {
  -webkit-transform: rotate(75.6deg);
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -o-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.biometrics__c100.biometrics__p22 .biometrics__bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.biometrics__c100.biometrics__p23 .biometrics__bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.biometrics__c100.biometrics__p24 .biometrics__bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.biometrics__c100.biometrics__p25 .biometrics__bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.biometrics__c100.biometrics__p26 .biometrics__bar {
  -webkit-transform: rotate(93.6deg);
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -o-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.biometrics__c100.biometrics__p27 .biometrics__bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.biometrics__c100.biometrics__p28 .biometrics__bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.biometrics__c100.biometrics__p29 .biometrics__bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.biometrics__c100.biometrics__p30 .biometrics__bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.biometrics__c100.biometrics__p31 .biometrics__bar {
  -webkit-transform: rotate(111.6deg);
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -o-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.biometrics__c100.biometrics__p32 .biometrics__bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.biometrics__c100.biometrics__p33 .biometrics__bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.biometrics__c100.biometrics__p34 .biometrics__bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.biometrics__c100.biometrics__p35 .biometrics__bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.biometrics__c100.biometrics__p36 .biometrics__bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.biometrics__c100.biometrics__p37 .biometrics__bar {
  -webkit-transform: rotate(133.2deg);
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -o-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.biometrics__c100.biometrics__p38 .biometrics__bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.biometrics__c100.biometrics__p39 .biometrics__bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.biometrics__c100.biometrics__p40 .biometrics__bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.biometrics__c100.biometrics__p41 .biometrics__bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.biometrics__c100.biometrics__p42 .biometrics__bar {
  -webkit-transform: rotate(151.2deg);
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -o-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.biometrics__c100.biometrics__p43 .biometrics__bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.biometrics__c100.biometrics__p44 .biometrics__bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.biometrics__c100.biometrics__p45 .biometrics__bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.biometrics__c100.biometrics__p46 .biometrics__bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.biometrics__c100.biometrics__p47 .biometrics__bar {
  -webkit-transform: rotate(169.2deg);
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -o-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.biometrics__c100.biometrics__p48 .biometrics__bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.biometrics__c100.biometrics__p49 .biometrics__bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.biometrics__c100.biometrics__p50 .biometrics__bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.biometrics__c100.biometrics__p51 .biometrics__bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.biometrics__c100.biometrics__p52 .biometrics__bar {
  -webkit-transform: rotate(187.2deg);
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -o-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}
.biometrics__c100.biometrics__p53 .biometrics__bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.biometrics__c100.biometrics__p54 .biometrics__bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.biometrics__c100.biometrics__p55 .biometrics__bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.biometrics__c100.biometrics__p56 .biometrics__bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.biometrics__c100.biometrics__p57 .biometrics__bar {
  -webkit-transform: rotate(205.2deg);
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -o-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}
.biometrics__c100.biometrics__p58 .biometrics__bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.biometrics__c100.biometrics__p59 .biometrics__bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.biometrics__c100.biometrics__p60 .biometrics__bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.biometrics__c100.biometrics__p61 .biometrics__bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.biometrics__c100.biometrics__p62 .biometrics__bar {
  -webkit-transform: rotate(223.2deg);
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -o-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}
.biometrics__c100.biometrics__p63 .biometrics__bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.biometrics__c100.biometrics__p64 .biometrics__bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.biometrics__c100.biometrics__p65 .biometrics__bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.biometrics__c100.biometrics__p66 .biometrics__bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.biometrics__c100.biometrics__p67 .biometrics__bar {
  -webkit-transform: rotate(241.2deg);
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -o-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}
.biometrics__c100.biometrics__p68 .biometrics__bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.biometrics__c100.biometrics__p69 .biometrics__bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.biometrics__c100.biometrics__p70 .biometrics__bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.biometrics__c100.biometrics__p71 .biometrics__bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.biometrics__c100.biometrics__p72 .biometrics__bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.biometrics__c100.biometrics__p73 .biometrics__bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.biometrics__c100.biometrics__p74 .biometrics__bar {
  -webkit-transform: rotate(266.4deg);
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -o-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}
.biometrics__c100.biometrics__p75 .biometrics__bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.biometrics__c100.biometrics__p76 .biometrics__bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.biometrics__c100.biometrics__p77 .biometrics__bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.biometrics__c100.biometrics__p78 .biometrics__bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.biometrics__c100.biometrics__p79 .biometrics__bar {
  -webkit-transform: rotate(284.4deg);
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -o-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}
.biometrics__c100.biometrics__p80 .biometrics__bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.biometrics__c100.biometrics__p81 .biometrics__bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.biometrics__c100.biometrics__p82 .biometrics__bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.biometrics__c100.biometrics__p83 .biometrics__bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.biometrics__c100.biometrics__p84 .biometrics__bar {
  -webkit-transform: rotate(302.4deg);
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -o-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}
.biometrics__c100.biometrics__p85 .biometrics__bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.biometrics__c100.biometrics__p86 .biometrics__bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.biometrics__c100.biometrics__p87 .biometrics__bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.biometrics__c100.biometrics__p88 .biometrics__bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.biometrics__c100.biometrics__p89 .biometrics__bar {
  -webkit-transform: rotate(320.4deg);
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -o-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}
.biometrics__c100.biometrics__p90 .biometrics__bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.biometrics__c100.biometrics__p91 .biometrics__bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.biometrics__c100.biometrics__p92 .biometrics__bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.biometrics__c100.biometrics__p93 .biometrics__bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.biometrics__c100.biometrics__p94 .biometrics__bar {
  -webkit-transform: rotate(338.4deg);
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -o-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}
.biometrics__c100.biometrics__p95 .biometrics__bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.biometrics__c100.biometrics__p96 .biometrics__bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.biometrics__c100.biometrics__p97 .biometrics__bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.biometrics__c100.biometrics__p98 .biometrics__bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.biometrics__c100.biometrics__p99 .biometrics__bar {
  -webkit-transform: rotate(356.4deg);
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -o-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}
.biometrics__c100.biometrics__p100 .biometrics__bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.biometrics__c100:hover {
  cursor: default;
}
.biometrics__c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #FF4F00;
}
.biometrics__c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}
.biometrics__c100.dark {
  background-color: #777777;
}
.biometrics__c100.dark .biometrics__bar,
.biometrics__c100.dark .biometrics__fill {
  border-color: #c6ff00 !important;
}
.biometrics__c100.dark > span {
  color: #777777;
}
.biometrics__c100.dark:after {
  background-color: #666666;
}
.biometrics__c100.dark:hover > span {
  color: #c6ff00;
}
.biometrics__c100.green .biometrics__bar, .biometrics__c100.green .biometrics__fill {
  border-color: #4db53c !important;
}
.biometrics__c100.green:hover > span {
  color: #4db53c;
}
.biometrics__c100.green.dark .biometrics__bar, .biometrics__c100.green.dark .biometrics__fill {
  border-color: #5fd400 !important;
}
.biometrics__c100.green.dark:hover > span {
  color: #5fd400;
}
.biometrics__c100.orange .biometrics__bar, .biometrics__c100.orange .biometrics__fill {
  border-color: #dd9d22 !important;
}
.biometrics__c100.orange:hover > span {
  color: #dd9d22;
}
.biometrics__c100.orange.dark .biometrics__bar, .biometrics__c100.orange.dark .biometrics__fill {
  border-color: #e08833 !important;
}
.biometrics__c100.orange.dark:hover > span {
  color: #e08833;
}
