//@import '~tommy-core/src/tommy.scss';
@import '../../node_modules/tommy-core/src/tommy.scss';

// import '~vue-cal/dist/vue-cal.css'

.yellow-button {
  background: $tommy-yellow;
  color: white !important;
}

.red-button {
  background: $tommy-red;
  color: white !important;
}
