//@import '~tommy-core/src/tommy.scss';
@import '../../node_modules/tommy-core/src/tommy.scss';

// import '~vue-cal/dist/vue-cal.css'

.yellow-button {
  background: $tommy-yellow;
  color: white !important;
}

.red-button {
  background: $tommy-red;
  color: white !important;
}


.panel-left {
  display: block !important;
  // .sidebar {
  //   width: 100%;
  // }

  .drag-handle {
    position: absolute;
    right: -12px;
    width: 14px;
    top: 50%;
    margin-top: -37px;
    height: 74px;
    background: url(i/DragHandle.svg);
    // @media (min-width: $desktop-width) {
    //   display: none;
    // }
  }
}
