<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="material-icons md-36">keyboard_arrow_left</i><span>Cancel</span></a></div>
    <div class="center sliding">Booking</div>
  </div>
</div>
<div class="pages">
  <div class="page navbar-through" id="agent_bookings__booking-details" data-page="agent_bookings__booking-details">
    <div class="page-content" data-template="agent_bookings__bookingDetailsTemplate">
    </div>
  </div>
</div>
