$orange: #FF4500;
.ios .vitals-temperature-fab {
  > a {
    background: linear-gradient(to right top, #F8B23E, #FF7B00);
    &.active-state {
      background-color: #FF7B00;
    }
  }
}
.vitals-temperature-icon-settings {
  background-image: url(../assets/icon-settings.svg);
}
.vitals-temperature-icon-chart {
  background-image: url(../assets/icon-chart.svg);
}
.vitals-temperature-index-header {
  background-image: url(../assets/header-bg.svg);
}
.vitals-temperature-index-header-icon {
  background-image: url(../assets/header-icon.svg);
}
.vitals-temperature-index-no-data-img {
  background-image: url(../assets/empty.svg);
}
.vitals-temperature-settings-page {
  .vitals-temperature-settings-header {
    background-image: url(../assets/header-bg.svg);
  }
  .vitals-temperature-settings-icon {
    background-image: url(../assets/header-icon.svg);
  }
  .vitals-temperature-settings-center-icon {
    background-image: url(../assets/settings-icon.svg);
  }
}
