/*.show-sandbox-installed { display: none !important; }
.sandbox-installed .show-sandbox-installed { display: block !important; }
.sandbox-installed .hide-sandbox-installed { display: none !important; }*/

.navbar .current-avatar {
  max-height: 44px;
  max-width: 44px;
}

.smart-select-page .item-media img {
  max-height: 29px;
  max-width: 29px;
}
